---
title: Basic Tables
---
extends layouts/_layout
block content
  .admin
    include ./partials/_aside
    include ./partials/_header-admin
    .admin__content
      .container
        .admin__title.m-b-45
          h1.h1.m-b-25 Basic Tables
          p Sharing the same stylized design layout, these tables allows for the effective compilation and organization of data with easy access and maneuverability for users.
        .table.p-b-80
          table#table-primary
            thead
              tr
                th #
                th model number
                th 
                  select.select
                    option(value="1") product category 1
                    option(value="2") product category 2
                    option(value="3") product category 3
                    option(value="4") product category 4
                    option(value="5") product category 5
                th
                  i.icon-nn-calendar
                    span.path1
                    span.path2
                    span.path3
                    span.path4
                    span.path5
                    span.path6
                    span.path7
                    span.path8
                    span.path9
                    span.path10
                    span.path11
                    span.path12
                    span.path13
                    span.path14
                    span.path15
                    span.path16
                  input(type="text" data-position="top right" placeholder="Choose a date").datepicker-data
                th customer mobile
            tbody
              tr
                td(scope='row') 01
                td Usha 400 Mist REDTwo 1
                td Home Appliances 1
                td 07/05/2020
                td 8861380937
                  a(href="#").table__more
                    span
                  ul.table__dropdown
                    li
                      a(href="#") 
                        i.icon-nn-filled-pink-edit
                        | Edit
                    li
                      a(href="#") 
                        i.icon-nn-filled-pink-delete
                        | Delete
              tr
                td(scope='row') 02
                td Usha 400 Mist REDTwo 2
                td Home Appliances 2
                td 07/04/2020
                td 8861380937
                  a(href="#").table__more
                    span
                  ul.table__dropdown
                    li
                      a(href="#") 
                        i.icon-nn-filled-pink-edit
                        | Edit
                    li
                      a(href="#") 
                        i.icon-nn-filled-pink-delete
                        | Delete
              tr
                td(scope='row') 03
                td Usha 400 Mist REDTwo 3
                td Home Appliances 3
                td 07/07/2020
                td 8861380937
                  a(href="#").table__more
                    span
                  ul.table__dropdown
                    li
                      a(href="#") 
                        i.icon-nn-filled-pink-edit
                        | Edit
                    li
                      a(href="#") 
                        i.icon-nn-filled-pink-delete
                        | Delete
              tr
                td(scope='row') 04
                td Usha 400 Mist REDTwo
                td Home Appliances
                td Table Fan
                td 8861380937
                  a(href="#").table__more
                    span
                  ul.table__dropdown
                    li
                      a(href="#") 
                        i.icon-nn-filled-pink-edit
                        | Edit
                    li
                      a(href="#") 
                        i.icon-nn-filled-pink-delete
                        | Delete
              tr
                td(scope='row') 05
                td Usha 400 Mist REDTwo
                td Home Appliances
                td Table Fan
                td Usha
                  a(href="#").table__more
                    span
                  ul.table__dropdown
                    li
                      a(href="#") 
                        i.icon-nn-filled-pink-edit
                        | Edit
                    li
                      a(href="#") 
                        i.icon-nn-filled-pink-delete
                        | Delete
              tr
                td(scope='row') 06
                td Usha 400 Mist REDTwo
                td Home Appliances
                td Table Fan
                td Usha
                  a(href="#").table__more
                    span
                  ul.table__dropdown
                    li
                      a(href="#") 
                        i.icon-nn-filled-pink-edit
                        | Edit
                    li
                      a(href="#") 
                        i.icon-nn-filled-pink-delete
                        | Delete
              tr
                td(scope='row') 07
                td Usha 400 Mist REDTwo
                td Home Appliances
                td Table Fan
                td Usha
                  a(href="#").table__more
                    span
                  ul.table__dropdown
                    li
                      a(href="#") 
                        i.icon-nn-filled-pink-edit
                        | Edit
                    li
                      a(href="#") 
                        i.icon-nn-filled-pink-delete
                        | Delete
              tr
                td(scope='row') 08
                td Usha 400 Mist REDTwo
                td Home Appliances
                td Table Fan
                td Usha
                  a(href="#").table__more
                    span
                  ul.table__dropdown
                    li
                      a(href="#") 
                        i.icon-nn-filled-pink-edit
                        | Edit
                    li
                      a(href="#") 
                        i.icon-nn-filled-pink-delete
                        | Delete
              tr
                td(scope='row') 09
                td Usha 400 Mist REDTwo
                td Home Appliances
                td Table Fan
                td Usha
                  a(href="#").table__more
                    span
                  ul.table__dropdown
                    li
                      a(href="#") 
                        i.icon-nn-filled-pink-edit
                        | Edit
                    li
                      a(href="#") 
                        i.icon-nn-filled-pink-delete
                        | Delete
              tr
                td(scope='row') 10
                td Usha 400 Mist REDTwo
                td Home Appliances
                td Table Fan
                td Usha
                  a(href="#").table__more
                    span
                  ul.table__dropdown
                    li
                      a(href="#") 
                        i.icon-nn-filled-pink-edit
                        | Edit
                    li
                      a(href="#") 
                        i.icon-nn-filled-pink-delete
                        | Delete
              tr
                td(scope='row') 11
                td Usha 400 Mist REDTwo
                td Home Appliances
                td Table Fan
                td Usha
                  a(href="#").table__more
                    span
                  ul.table__dropdown
                    li
                      a(href="#") 
                        i.icon-nn-filled-pink-edit
                        | Edit
                    li
                      a(href="#") 
                        i.icon-nn-filled-pink-delete
                        | Delete
              tr
                td(scope='row') 12
                td Usha 400 Mist REDTwo
                td Home Appliances
                td Table Fan
                td Usha
                  a(href="#").table__more
                    span
                  ul.table__dropdown
                    li
                      a(href="#") 
                        i.icon-nn-filled-pink-edit
                        | Edit
                    li
                      a(href="#") 
                        i.icon-nn-filled-pink-delete
                        | Delete
        .table.table__no-button
          table#table-secondary
            thead
              tr
                th #
                th model number
                th product category
                th product subcategory
                th product manufacturer
            tbody
              tr
                td(scope='row') 01
                td Usha 400 Mist REDTwo 1
                td Home Appliances 1
                td Table Fan 1
                td Usha 1
                  a(href="#").table__more
                    span
                  ul.table__dropdown
                    li
                      a(href="#") 
                        i.icon-nn-filled-pink-edit
                        | Edit
                    li
                      a(href="#") 
                        i.icon-nn-filled-pink-delete
                        | Delete
              tr
                td(scope='row') 02
                td Usha 400 Mist REDTwo 2
                td Home Appliances 2
                td Table Fan 2
                td Usha 2
                  a(href="#").table__more
                    span
                  ul.table__dropdown
                    li
                      a(href="#") 
                        i.icon-nn-filled-pink-edit
                        | Edit
                    li
                      a(href="#") 
                        i.icon-nn-filled-pink-delete
                        | Delete
              tr
                td(scope='row') 03
                td Usha 400 Mist REDTwo 3
                td Home Appliances 3
                td Table Fan 3
                td Usha 3
                  a(href="#").table__more
                    span
                  ul.table__dropdown
                    li
                      a(href="#") 
                        i.icon-nn-filled-pink-edit
                        | Edit
                    li
                      a(href="#") 
                        i.icon-nn-filled-pink-delete
                        | Delete
              tr
                td(scope='row') 04
                td Usha 400 Mist REDTwo
                td Home Appliances
                td Table Fan
                td Usha
                  a(href="#").table__more
                    span
                  ul.table__dropdown
                    li
                      a(href="#") 
                        i.icon-nn-filled-pink-edit
                        | Edit
                    li
                      a(href="#") 
                        i.icon-nn-filled-pink-delete
                        | Delete
              tr
                td(scope='row') 05
                td Usha 400 Mist REDTwo
                td Home Appliances
                td Table Fan
                td Usha
                  a(href="#").table__more
                    span
                  ul.table__dropdown
                    li
                      a(href="#") 
                        i.icon-nn-filled-pink-edit
                        | Edit
                    li
                      a(href="#") 
                        i.icon-nn-filled-pink-delete
                        | Delete
              tr
                td(scope='row') 06
                td Usha 400 Mist REDTwo
                td Home Appliances
                td Table Fan
                td Usha
                  a(href="#").table__more
                    span
                  ul.table__dropdown
                    li
                      a(href="#") 
                        i.icon-nn-filled-pink-edit
                        | Edit
                    li
                      a(href="#") 
                        i.icon-nn-filled-pink-delete
                        | Delete
              tr
                td(scope='row') 07
                td Usha 400 Mist REDTwo
                td Home Appliances
                td Table Fan
                td Usha
                  a(href="#").table__more
                    span
                  ul.table__dropdown
                    li
                      a(href="#") 
                        i.icon-nn-filled-pink-edit
                        | Edit
                    li
                      a(href="#") 
                        i.icon-nn-filled-pink-delete
                        | Delete
              tr
                td(scope='row') 08
                td Usha 400 Mist REDTwo
                td Home Appliances
                td Table Fan
                td Usha
                  a(href="#").table__more
                    span
                  ul.table__dropdown
                    li
                      a(href="#") 
                        i.icon-nn-filled-pink-edit
                        | Edit
                    li
                      a(href="#") 
                        i.icon-nn-filled-pink-delete
                        | Delete
              tr
                td(scope='row') 09
                td Usha 400 Mist REDTwo
                td Home Appliances
                td Table Fan
                td Usha
                  a(href="#").table__more
                    span
                  ul.table__dropdown
                    li
                      a(href="#") 
                        i.icon-nn-filled-pink-edit
                        | Edit
                    li
                      a(href="#") 
                        i.icon-nn-filled-pink-delete
                        | Delete
              tr
                td(scope='row') 10
                td Usha 400 Mist REDTwo
                td Home Appliances
                td Table Fan
                td Usha
                  a(href="#").table__more
                    span
                  ul.table__dropdown
                    li
                      a(href="#") 
                        i.icon-nn-filled-pink-edit
                        | Edit
                    li
                      a(href="#") 
                        i.icon-nn-filled-pink-delete
                        | Delete
              tr
                td(scope='row') 11
                td Usha 400 Mist REDTwo
                td Home Appliances
                td Table Fan
                td Usha
                  a(href="#").table__more
                    span
                  ul.table__dropdown
                    li
                      a(href="#") 
                        i.icon-nn-filled-pink-edit
                        | Edit
                    li
                      a(href="#") 
                        i.icon-nn-filled-pink-delete
                        | Delete
              tr
                td(scope='row') 12
                td Usha 400 Mist REDTwo
                td Home Appliances
                td Table Fan
                td Usha
                  a(href="#").table__more
                    span
                  ul.table__dropdown
                    li
                      a(href="#") 
                        i.icon-nn-filled-pink-edit
                        | Edit
                    li
                      a(href="#") 
                        i.icon-nn-filled-pink-delete
                        | Delete