---
title: Basic Tables
---
extends layouts/_layout
block content
  .admin
    include ./partials/_aside
    include ./partials/_header-admin
    .admin__content
      .container
        .admin__title.m-b-45
          h1.h1.m-b-25 Basic Tables
          p Sharing the same stylized design layout, these tables allows for the effective compilation and organization of data with easy access and maneuverability for users.
        .table.m-b-50
          table#table-primary
            thead
              tr
                th #
                th model number
                th product category
                th product subcategory
                th product manufacturer
            tbody
              tr
                td(scope='row') 01
                td Usha 400 Mist REDTwo 1
                td Home Appliances 1
                td Table Fan 1
                td Usha 1
                  a(href="#").table__more
                    span
                  ul.table__dropdown
                    li
                      a(href="#") 
                        i.icon-edit
                        | Edit
                    li
                      a(href="#") 
                        i.icon-delete
                        | Delete
              tr
                td(scope='row') 02
                td Usha 400 Mist REDTwo 2
                td Home Appliances 2
                td Table Fan 2
                td Usha 2
                  a(href="#").table__more
                    span
                  ul.table__dropdown
                    li
                      a(href="#") 
                        i.icon-edit
                        | Edit
                    li
                      a(href="#") 
                        i.icon-delete
                        | Delete
              tr
                td(scope='row') 03
                td Usha 400 Mist REDTwo 3
                td Home Appliances 3
                td Table Fan 3
                td Usha 3
                  a(href="#").table__more
                    span
                  ul.table__dropdown
                    li
                      a(href="#") 
                        i.icon-edit
                        | Edit
                    li
                      a(href="#") 
                        i.icon-delete
                        | Delete
              tr
                td(scope='row') 04
                td Usha 400 Mist REDTwo
                td Home Appliances
                td Table Fan
                td Usha
                  a(href="#").table__more
                    span
                  ul.table__dropdown
                    li
                      a(href="#") 
                        i.icon-edit
                        | Edit
                    li
                      a(href="#") 
                        i.icon-delete
                        | Delete
              tr
                td(scope='row') 05
                td Usha 400 Mist REDTwo
                td Home Appliances
                td Table Fan
                td Usha
                  a(href="#").table__more
                    span
                  ul.table__dropdown
                    li
                      a(href="#") 
                        i.icon-edit
                        | Edit
                    li
                      a(href="#") 
                        i.icon-delete
                        | Delete
              tr
                td(scope='row') 06
                td Usha 400 Mist REDTwo
                td Home Appliances
                td Table Fan
                td Usha
                  a(href="#").table__more
                    span
                  ul.table__dropdown
                    li
                      a(href="#") 
                        i.icon-edit
                        | Edit
                    li
                      a(href="#") 
                        i.icon-delete
                        | Delete
              tr
                td(scope='row') 07
                td Usha 400 Mist REDTwo
                td Home Appliances
                td Table Fan
                td Usha
                  a(href="#").table__more
                    span
                  ul.table__dropdown
                    li
                      a(href="#") 
                        i.icon-edit
                        | Edit
                    li
                      a(href="#") 
                        i.icon-delete
                        | Delete
              tr
                td(scope='row') 08
                td Usha 400 Mist REDTwo
                td Home Appliances
                td Table Fan
                td Usha
                  a(href="#").table__more
                    span
                  ul.table__dropdown
                    li
                      a(href="#") 
                        i.icon-edit
                        | Edit
                    li
                      a(href="#") 
                        i.icon-delete
                        | Delete
              tr
                td(scope='row') 09
                td Usha 400 Mist REDTwo
                td Home Appliances
                td Table Fan
                td Usha
                  a(href="#").table__more
                    span
                  ul.table__dropdown
                    li
                      a(href="#") 
                        i.icon-edit
                        | Edit
                    li
                      a(href="#") 
                        i.icon-delete
                        | Delete
              tr
                td(scope='row') 10
                td Usha 400 Mist REDTwo
                td Home Appliances
                td Table Fan
                td Usha
                  a(href="#").table__more
                    span
                  ul.table__dropdown
                    li
                      a(href="#") 
                        i.icon-edit
                        | Edit
                    li
                      a(href="#") 
                        i.icon-delete
                        | Delete
              tr
                td(scope='row') 11
                td Usha 400 Mist REDTwo
                td Home Appliances
                td Table Fan
                td Usha
                  a(href="#").table__more
                    span
                  ul.table__dropdown
                    li
                      a(href="#") 
                        i.icon-edit
                        | Edit
                    li
                      a(href="#") 
                        i.icon-delete
                        | Delete
              tr
                td(scope='row') 12
                td Usha 400 Mist REDTwo
                td Home Appliances
                td Table Fan
                td Usha
                  a(href="#").table__more
                    span
                  ul.table__dropdown
                    li
                      a(href="#") 
                        i.icon-edit
                        | Edit
                    li
                      a(href="#") 
                        i.icon-delete
                        | Delete
        .table.table__no-button
          table#table-secondary
            thead
              tr
                th #
                th model number
                th product category
                th product subcategory
                th product manufacturer
            tbody
              tr
                td(scope='row') 01
                td Usha 400 Mist REDTwo 1
                td Home Appliances 1
                td Table Fan 1
                td Usha 1
                  a(href="#").table__more
                    span
                  ul.table__dropdown
                    li
                      a(href="#") 
                        i.icon-edit
                        | Edit
                    li
                      a(href="#") 
                        i.icon-delete
                        | Delete
              tr
                td(scope='row') 02
                td Usha 400 Mist REDTwo 2
                td Home Appliances 2
                td Table Fan 2
                td Usha 2
                  a(href="#").table__more
                    span
                  ul.table__dropdown
                    li
                      a(href="#") 
                        i.icon-edit
                        | Edit
                    li
                      a(href="#") 
                        i.icon-delete
                        | Delete
              tr
                td(scope='row') 03
                td Usha 400 Mist REDTwo 3
                td Home Appliances 3
                td Table Fan 3
                td Usha 3
                  a(href="#").table__more
                    span
                  ul.table__dropdown
                    li
                      a(href="#") 
                        i.icon-edit
                        | Edit
                    li
                      a(href="#") 
                        i.icon-delete
                        | Delete
              tr
                td(scope='row') 04
                td Usha 400 Mist REDTwo
                td Home Appliances
                td Table Fan
                td Usha
                  a(href="#").table__more
                    span
                  ul.table__dropdown
                    li
                      a(href="#") 
                        i.icon-edit
                        | Edit
                    li
                      a(href="#") 
                        i.icon-delete
                        | Delete
              tr
                td(scope='row') 05
                td Usha 400 Mist REDTwo
                td Home Appliances
                td Table Fan
                td Usha
                  a(href="#").table__more
                    span
                  ul.table__dropdown
                    li
                      a(href="#") 
                        i.icon-edit
                        | Edit
                    li
                      a(href="#") 
                        i.icon-delete
                        | Delete
              tr
                td(scope='row') 06
                td Usha 400 Mist REDTwo
                td Home Appliances
                td Table Fan
                td Usha
                  a(href="#").table__more
                    span
                  ul.table__dropdown
                    li
                      a(href="#") 
                        i.icon-edit
                        | Edit
                    li
                      a(href="#") 
                        i.icon-delete
                        | Delete
              tr
                td(scope='row') 07
                td Usha 400 Mist REDTwo
                td Home Appliances
                td Table Fan
                td Usha
                  a(href="#").table__more
                    span
                  ul.table__dropdown
                    li
                      a(href="#") 
                        i.icon-edit
                        | Edit
                    li
                      a(href="#") 
                        i.icon-delete
                        | Delete
              tr
                td(scope='row') 08
                td Usha 400 Mist REDTwo
                td Home Appliances
                td Table Fan
                td Usha
                  a(href="#").table__more
                    span
                  ul.table__dropdown
                    li
                      a(href="#") 
                        i.icon-edit
                        | Edit
                    li
                      a(href="#") 
                        i.icon-delete
                        | Delete
              tr
                td(scope='row') 09
                td Usha 400 Mist REDTwo
                td Home Appliances
                td Table Fan
                td Usha
                  a(href="#").table__more
                    span
                  ul.table__dropdown
                    li
                      a(href="#") 
                        i.icon-edit
                        | Edit
                    li
                      a(href="#") 
                        i.icon-delete
                        | Delete
              tr
                td(scope='row') 10
                td Usha 400 Mist REDTwo
                td Home Appliances
                td Table Fan
                td Usha
                  a(href="#").table__more
                    span
                  ul.table__dropdown
                    li
                      a(href="#") 
                        i.icon-edit
                        | Edit
                    li
                      a(href="#") 
                        i.icon-delete
                        | Delete
              tr
                td(scope='row') 11
                td Usha 400 Mist REDTwo
                td Home Appliances
                td Table Fan
                td Usha
                  a(href="#").table__more
                    span
                  ul.table__dropdown
                    li
                      a(href="#") 
                        i.icon-edit
                        | Edit
                    li
                      a(href="#") 
                        i.icon-delete
                        | Delete
              tr
                td(scope='row') 12
                td Usha 400 Mist REDTwo
                td Home Appliances
                td Table Fan
                td Usha
                  a(href="#").table__more
                    span
                  ul.table__dropdown
                    li
                      a(href="#") 
                        i.icon-edit
                        | Edit
                    li
                      a(href="#") 
                        i.icon-delete
                        | Delete