---
title: Typography
---
extends layouts/_layout
block content
  .admin
    include ./partials/_aside
    include ./partials/_header-admin
    .admin__content
      .container
        .admin__title.p-b-50
          h1.h1.m-b-30 Button
          p.m-b-25 A button consists of text and/or an image that clearly communicates what action will occur when it is pressed upon.
        .row
          .col-xl.col-lg-3.col-sm-4.col-6.m-b-30
            a(href="#").btn.btn-primary.m-b-15 Primary
            .flex.p-b-15
              .btn.btn-sm.btn-primary.normal.p-b-20.p-t-20.m-r-15
              p.default
                strong.bold.text-black.flex.all-caps.fz-12 NORMAL
                | #131725
            .flex.p-b-15
              .btn.btn-sm.btn-primary.hover.p-b-20.p-t-20.m-r-15
              p.default
                strong.bold.text-black.flex.all-caps.fz-12 HOVER
                | #292e3d
            .flex.p-b-15
              .btn.btn-sm.btn-primary.active.p-b-20.p-t-20.m-r-15
              p.default
                strong.bold.text-black.flex.all-caps.fz-12 ACTIVE
                | #131725



          .col-xl.col-lg-3.col-sm-4.col-6.m-b-30
            a(href="#").btn.btn-secondary.m-b-15 Secondary
            .flex.p-b-15
              .btn.btn-sm.btn-secondary.normal.p-b-20.p-t-20.m-r-15
              p.default
                strong.bold.text-black.flex.all-caps.fz-12 NORMAL
                | #131725
            .flex.p-b-15
              .btn.btn-sm.btn-secondary.hover.p-b-20.p-t-20.m-r-15
              p.default
                strong.bold.text-black.flex.all-caps.fz-12 HOVER
                | #292e3d
            .flex.p-b-15
              .btn.btn-sm.btn-secondary.active.p-b-20.p-t-20.m-r-15
              p.default
                strong.bold.text-black.flex.all-caps.fz-12 ACTIVE
                | #131725



          .col-xl.col-lg-3.col-sm-4.col-6.m-b-30
            a(href="#").btn.btn-complete.m-b-15 Complete
            .flex.p-b-15
              .btn.btn-sm.btn-complete.normal.p-b-20.p-t-20.m-r-15
              p.default
                strong.bold.text-black.flex.all-caps.fz-12 NORMAL
                | #131725
            .flex.p-b-15
              .btn.btn-sm.btn-complete.hover.p-b-20.p-t-20.m-r-15
              p.default
                strong.bold.text-black.flex.all-caps.fz-12 HOVER
                | #292e3d
            .flex.p-b-15
              .btn.btn-sm.btn-complete.active.p-b-20.p-t-20.m-r-15
              p.default
                strong.bold.text-black.flex.all-caps.fz-12 ACTIVE
                | #131725



          .col-xl.col-lg-3.col-sm-4.col-6.m-b-30
            a(href="#").btn.btn-success.m-b-15 Success
            .flex.p-b-15
              .btn.btn-sm.btn-success.normal.p-b-20.p-t-20.m-r-15
              p.default
                strong.bold.text-black.flex.all-caps.fz-12 NORMAL
                | #131725
            .flex.p-b-15
              .btn.btn-sm.btn-success.hover.p-b-20.p-t-20.m-r-15
              p.default
                strong.bold.text-black.flex.all-caps.fz-12 HOVER
                | #292e3d
            .flex.p-b-15
              .btn.btn-sm.btn-success.active.p-b-20.p-t-20.m-r-15
              p.default
                strong.bold.text-black.flex.all-caps.fz-12 ACTIVE
                | #131725



          .col-xl.col-lg-3.col-sm-4.col-6.m-b-30
            a(href="#").btn.btn-danger.m-b-15 Danger
            .flex.p-b-15
              .btn.btn-sm.btn-danger.normal.p-b-20.p-t-20.m-r-15
              p.default
                strong.bold.text-black.flex.all-caps.fz-12 NORMAL
                | #131725
            .flex.p-b-15
              .btn.btn-sm.btn-danger.hover.p-b-20.p-t-20.m-r-15
              p.default
                strong.bold.text-black.flex.all-caps.fz-12 HOVER
                | #292e3d
            .flex.p-b-15
              .btn.btn-sm.btn-danger.active.p-b-20.p-t-20.m-r-15
              p.default
                strong.bold.text-black.flex.all-caps.fz-12 ACTIVE
                | #131725


                
          .col-xl.col-lg-3.col-sm-4.col-6.m-b-30
            a(href="#").btn.btn-warning.m-b-15 Warning
            .flex.p-b-15
              .btn.btn-sm.btn-warning.normal.p-b-20.p-t-20.m-r-15
              p.default
                strong.bold.text-black.flex.all-caps.fz-12 NORMAL
                | #131725
            .flex.p-b-15
              .btn.btn-sm.btn-warning.hover.p-b-20.p-t-20.m-r-15
              p.default
                strong.bold.text-black.flex.all-caps.fz-12 HOVER
                | #292e3d
            .flex.p-b-15
              .btn.btn-sm.btn-warning.active.p-b-20.p-t-20.m-r-15
              p.default
                strong.bold.text-black.flex.all-caps.fz-12 ACTIVE
                | #131725
  


        .row.m-t-50
          .col-lg-6.col-12.m-b-30
            .block-white.padding-30
              strong.h5.bold.m-b-10 Size Options
              p.m-b-30 Size Might vary from smaller screen to a larger screen. We made few sizes that are pixel perfect and resposive
              .row
                .col-xl-6.col-12
                  a(href="#").btn.btn-lg.btn-primary.m-b-10 Large Button
                  br
                  a(href="#").btn.btn-primary.m-b-10 Default Button
                  br
                  a(href="#").btn.btn-sm.btn-primary.m-b-10 Small Button
                  br
                  a(href="#").btn.btn-xs.btn-primary.m-b-20 Tiny
                .col-xl-6.col-12
                  p.fw-bold.text-black.m-b-10 Size variation
                  p Fancy larger or smaller buttons? Add .btn-lg .btn-sm .btn-xs for additional sizes.
          .col-lg-6.col-12.m-b-30
            .block-white.padding-30
              strong.h5.bold.m-b-10 Button Animations
              p.m-b-30 The button will be automatically sized according to the visible content size. Make sure there is enough room for the hidden content to show
              a(href="#").btn.btn-primary.m-b-30 Download
              p 
                code btn-animated 
                | and diirection as 
                code from-left 
                | or 
                code from-top
          .col-lg-6.col-12.m-b-30
            .block-white.padding-30
              strong.h5.bold.m-b-10 Traditional Dropdowns
              p.m-b-30 We've simplified our dropdown buttons by getting rid of the dedicated dropdown associated with them, this looks more clean and also available in all different colors
              select.select
                option(value="1") Default
                option(value="2") Default1
                option(value="3") Default2
                option(value="4") Default3
                option(value="5") Default4
                option(value="6") Default5
                option(value="7") Default6
                option(value="8") Default7
                option(value="9") Default8
              p.fz-12.m-t-30 The button will be automatically sized according to the visible content size. Make sure there is enough room for the hidden content to show
          .col-lg-6.col-12.m-b-30
            .block-white.padding-30
              strong.h5.bold.m-b-10 Common Icon Buttons
              p.m-b-35 Basic buttons are traditional buttons with borders and background with an extra component like an icon. You can place it either on the eft or the right which ever you want with different color options
              .flex-wrap
                a(href="#").btn.btn-secondary.m-b-15.m-r-15
                  //- +icon('plus')
                  i.icon.icon-add
                  | Create
                a(href="#").btn.btn-secondary.m-r-15.m-b-15
                  //- +icon('upload')
                  i.icon.icon-upload
                  | Upload
                a(href="#").btn.btn-secondary.m-b-15
                  //- +icon('plus')
                  i.icon.icon-add
                  | Edit