---
title: Colors
---
extends layouts/_layout
block content
  .admin
    include ./partials/_aside
    include ./partials/_header-admin
    .admin__content
      .container
        .admin__title.p-b-50
          h1.h1.m-b-25 Color palette
          p.m-b-25 Color is the cornerstone of NHANCE  NOW design. It distinguishes our brand and helps us to create consistent experiences across marketing and products. We use color in meaningful ways in all expressions of our brand. From showing the colorful complexity of teaming up at a high level all the way down to focused, meaningful colors in product, we use color to pinpoint exactly what people need to see.
        .row
          .col-xl.col-lg-4.col-sm-6.m-b-20
            .bg-dark.padding-45
            p.padding-15.bg-white.space-between Master color 
              span 100%
          .col-xl.col-lg-4.col-sm-6.m-b-20
            .bg-primary.padding-45
            p.padding-15.bg-white.space-between Primary color
              span 100%
          .col-xl.col-lg-4.col-sm-6.m-b-20
            .bg-secondary.padding-45
            p.padding-15.bg-white.space-between Secondary color
              span 100%
          .col-xl.col-lg-4.col-sm-6.m-b-20
            .bg-dark.padding-45
            p.padding-15.bg-white.space-between Menu color
              span 100%
          .col-xl.col-lg-4.col-sm-6.m-b-20
            .bg-success.padding-45
            p.padding-15.bg-white.space-between Success color
              span 100%
          .col-xl-12.hidden-lg.hidden-md.hidden-sm
          .col-xl.col-lg-4.col-sm-6.m-b-20
            .bg-complete.padding-45
            p.padding-15.bg-white.space-between Complete
              span 100%
          .col-xl.col-lg-4.col-sm-6.m-b-20
            .bg-danger.padding-45
            p.padding-15.bg-white.space-between Danger color
              span 100%
          .col-xl.col-lg-4.col-sm-6.m-b-20
            .bg-warning.padding-45
            p.padding-15.bg-white.space-between Warning
              span 100%
          .col-xl.col-lg-4.col-sm-6.m-b-20
          .col-xl.col-lg-4.col-sm-6.m-b-20
        .row.m-t-50
          .col-lg-7
            .row
              .col-lg-3.m-b-20
                p.m-b-5.default Menu options
                strong.bold.default HEX : 
                  span.fw-normal.default #131725
              .col-lg-9.m-b-20
                p.bg-dark.padding-15.text-white.space-between.all-caps @COLOR-MASTER-DARKEST
                  span 100%
              .col-lg-3.m-b-20
                p.m-b-5.default Menu
                strong.bold.default HEX : 
                  span.fw-normal.default #131725
              .col-lg-9.m-b-20
                p.bg-dark.padding-15.text-white.space-between.all-caps @COLOR-MASTER-DARKEST
                  span 100%
              .col-lg-3.m-b-20
                p.m-b-5.default Text heading
                strong.bold.default HEX : 
                  span.fw-normal.default #131725
              .col-lg-9.m-b-20
                p.bg-dark.padding-15.text-white.space-between.all-caps @COLOR-MASTER-DARKEST
                  span 100%
              .col-lg-3.m-b-20
                p.m-b-5.default Default text (base)
                strong.bold.default HEX : 
                  span.fw-normal.default #616161
              .col-lg-9.m-b-20
                p.bg-default.padding-15.text-white.space-between.all-caps @COLOR-MASTER-DARKEST
                  span 100%
              .col-lg-3.m-b-20
                p.m-b-5.default Dividers
                strong.bold.default HEX : 
                  span.fw-normal.default #e6e6e6
              .col-lg-9.m-b-20
                p.bg-master-light.padding-15.default.space-between.all-caps @COLOR-MASTER-LIGHT
                  span 100%
              .col-lg-3.m-b-20
                p.m-b-5.default Background
                strong.bold.default HEX : 
                  span.fw-normal.default #f5f5f5
              .col-lg-9.m-b-20
                p.border-l-pink.bg-master-lightest.padding-15.default.space-between.all-caps @COLOR-MASTER-LIGHTEST
                  span 100%
            .row.m-t-50
              .col-12
                h4.h4.default.m-b-50 Notifications


              .col-lg-3.m-b-20.p-r-0
                p.m-b-5.default Sucess background
                strong.bold.default HEX : 
                  span.fw-normal.default #c8f0e5
              .col-lg-9.m-b-20
                p.bg-pale-aqua.padding-15.text-green.space-between.all-caps @COLOR-MASTER-DARKEST
                  span 100%
                  
              .col-lg-3.m-b-20.p-r-0
                p.m-b-5.default Sucess text
                strong.bold.default HEX : 
                  span.fw-normal.default #05a477
              .col-lg-9.m-b-20
                p.bg-pale-aqua.padding-15.text-green.space-between.all-caps @COLOR-MASTER-DARKEST
                  span 100%

              .col-lg-3.m-b-20.p-r-0
                p.m-b-5.default Danger background
                strong.bold.default HEX : 
                  span.fw-normal.default #fcddde
              .col-lg-9.m-b-20
                p.bg-pale-aqua.padding-15.text-green.space-between.all-caps @COLOR-MASTER-DARKEST
                  span 100%

              .col-lg-3.m-b-20.p-r-0
                p.m-b-5.default Danger text
                strong.bold.default HEX : 
                  span.fw-normal.default #923535
              .col-lg-9.m-b-20
                p.bg-pale-aqua.padding-15.text-green.space-between.all-caps @COLOR-MASTER-DARKEST
                  span 100%

              .col-lg-3.m-b-20.p-r-0
                p.m-b-5.default Warning background
                strong.bold.default HEX : 
                  span.fw-normal.default #fff4df
              .col-lg-9.m-b-20
                p.bg-pale-aqua.padding-15.text-green.space-between.all-caps @COLOR-MASTER-DARKEST
                  span 100%

              .col-lg-3.m-b-20.p-r-0
                p.m-b-5.default Warning text
                strong.bold.default HEX : 
                  span.fw-normal.default #947438
              .col-lg-9.m-b-20
                p.bg-pale-aqua.padding-15.text-green.space-between.all-caps @COLOR-MASTER-DARKEST
                  span 100%

              .col-lg-3.m-b-20.p-r-0
                p.m-b-5.default Info background
                strong.bold.default HEX : 
                  span.fw-normal.default #d8fdfd
              .col-lg-9.m-b-20
                p.bg-pale-aqua.padding-15.text-green.space-between.all-caps @COLOR-MASTER-DARKEST
                  span 100%

              .col-lg-3.m-b-20.p-r-0
                p.m-b-5.default Info text
                strong.bold.default HEX : 
                  span.fw-normal.default #2e9393
              .col-lg-9.m-b-20
                p.bg-pale-aqua.padding-15.text-green.space-between.all-caps @COLOR-MASTER-DARKEST
                  span 100%




          .col-lg-5.p-l-50
            h4.h4.m-b-15 Master color shades
            p.flex
              span.padding-25.bg-dark.m-r-15
              | RGB : 19 23 37
            p.m-t-30 With a coterie of features based on zero- saturation resulting in mutilple colour adaptability, this colour is the essential Master colour which affects the fonts, background and content. The upper dark shades are made having the master base color on top of a dark blue (#131725) with certain opacity. Thus the lower light shades are made with a white (#ffffff) color .