---
title: Flow Builder 
---
extends layouts/_layout
block content
  .admin.table-basic
    include ./partials/_aside
    include ./partials/_header-admin
    .admin__content.p-l-30.p-r-30

      .admin__title.m-b-45
        h1.h1.m-b-25 Flow Builder 
        p Sharing the same stylized design layout, these tables allows for the effective compilation and organization of data with easy access and maneuverability for users.
        a(href="#").btn.btn-secondary
          //- +icon('plus')
          i.icon-nn-add-outline
          | Create
      .table.table-secondary
        table#table-builder
          thead
            tr
              th #
              th name
              th Product Category
              th Trigger Point
              th Description
              th Created By
              th
                .flex
                  i.icon-nn-calendar
                    span.path1
                    span.path2
                    span.path3
                    span.path4
                    span.path5
                    span.path6
                    span.path7
                    span.path8
                    span.path9
                    span.path10
                    span.path11
                    span.path12
                    span.path13
                    span.path14
                    span.path15
                    span.path16
                  input(type="text" placeholder="created on").datepicker-data
              th
                .flex
                  i.icon-nn-calendar
                    span.path1
                    span.path2
                    span.path3
                    span.path4
                    span.path5
                    span.path6
                    span.path7
                    span.path8
                    span.path9
                    span.path10
                    span.path11
                    span.path12
                    span.path13
                    span.path14
                    span.path15
                    span.path16
                  input(type="text" placeholder="updated on").datepicker-data
              th
                select.select
                  option(value="1") status 1
                  option(value="2") status 2
          tbody
            tr
              td(scope='row') 01
              td Honda Custo...
              td Automobiles
              td Initial Component
              td Onboarding Custom...
              td Vaishakh
              td 06/082020
              td 06/082020
              td
                .form__checkbox-ios.inline-flex
                  input(type="checkbox" name="checkbox-ios" id="checkbox-ios-1" checked)
                  label(for="checkbox-ios-1").m-b-0
                  span.m-l-10 
                    span Active
                    span(style="display: none") Inactive
                    
      
                a(href="#").table__more
                  span
                ul.table__dropdown
                  li
                    a(href="#") 
                      i.icon-nn-filled-pink-edit
                      | Edit
                  li
                    a(href="#") 
                      i.icon-nn-filled-pink-delete
                      | Delete
            tr
              td(scope='row') 02
              td Honda Custo...
              td Automobiles
              td Initial Component
              td Onboarding Custom...
              td Vaishakh
              td 06/082020
              td 06/082020
              td
                .form__checkbox-ios.inline-flex
                  input(type="checkbox" name="checkbox-ios" id="checkbox-ios-2" checked)
                  label(for="checkbox-ios-2").m-b-0
                  span.m-l-10 
                    span Active
                    span(style="display: none") Inactive
                    
      
                a(href="#").table__more
                  span
                ul.table__dropdown
                  li
                    a(href="#") 
                      i.icon-nn-filled-pink-edit
                      | Edit
                  li
                    a(href="#") 
                      i.icon-nn-filled-pink-delete
                      | Delete
            tr
              td(scope='row') 03
              td Honda Custo...
              td Automobiles
              td Initial Component
              td Onboarding Custom...
              td Vaishakh
              td 06/082020
              td 06/082020
              td
                .form__checkbox-ios.inline-flex
                  input(type="checkbox" name="checkbox-ios" id="checkbox-ios-3" checked)
                  label(for="checkbox-ios-3").m-b-0
                  span.m-l-10 
                    span Active
                    span(style="display: none") Inactive
                    
      
                a(href="#").table__more
                  span
                ul.table__dropdown
                  li
                    a(href="#") 
                      i.icon-nn-filled-pink-edit
                      | Edit
                  li
                    a(href="#") 
                      i.icon-nn-filled-pink-delete
                      | Delete
            tr
              td(scope='row') 04
              td Honda Custo...
              td Automobiles
              td Initial Component
              td Onboarding Custom...
              td Vaishakh
              td 06/082020
              td 06/082020
              td
                .form__checkbox-ios.inline-flex
                  input(type="checkbox" name="checkbox-ios" id="checkbox-ios-4" checked)
                  label(for="checkbox-ios-4").m-b-0
                  span.m-l-10 
                    span Active
                    span(style="display: none") Inactive
                    
      
                a(href="#").table__more
                  span
                ul.table__dropdown
                  li
                    a(href="#") 
                      i.icon-nn-filled-pink-edit
                      | Edit
                  li
                    a(href="#") 
                      i.icon-nn-filled-pink-delete
                      | Delete
            
