---
title: Linear Progress
---
extends layouts/_layout
block content
  .admin
    include ./partials/_aside
    include ./partials/_header-admin
    .admin__content
      .container
        .admin__title.p-b-50
          h1.h1.m-b-35 Linear Progress
          p A progress bar is a visual way of showing how much of a curtain task has being completed. We made it light weighted and simple as possible just for a better user experience.A progress can be indeterminate or determinate according to the length of a task.
        .row
          .col-lg-4.col-md-6.col-12.m-b-20
            .block-white.padding-50
              .progress-bar.m-t-30
                .progress-bar-indeterminate
              p.text-center.p-t-45.p-b-30 Indeterminate Progress
          .col-lg-4.col-md-6.col-12.m-b-20
            .block-white.padding-50
              .progress-circle-indeterminate
              p.text-center.p-t-30.p-b-30 Circular Progress