---
title: View Responses
---
extends layouts/_layout
block content
  .admin.responses
    include ./partials/_aside
    include ./partials/_header-admin
    .admin__content.admin__content--responses
      .admin__title.m-b-50.flex.m-l-45
        a(href="#").m-t-20
          +icon('return', 'h2 default m-r-20')
        div
          span.h5 Honda Customer
          h1.h1 View Responses
      .tabs.responses__content.space-between
        .responses__aside
          .responses__header
            p.fz-14.bold.text-black Users
              +icon('information', 'text-blue m-l-10')
          ul.tabs__caption
            li.active
              .responses__user.flex
                .responses__user__img.bold.text-white(style="background: #fe63b9") V
                .responses__user__text.m-l-10
                  p.bold.text-black Vaishakh Pilatholi
                  span.fz-12 1st A Cross, Chocolate Factory Rd, Tavarekere, Cashier Layout, 1st Stage, BTM...
            li
              .responses__user.flex
                .responses__user__img.bold.text-white(style="background: #b15df4") S
                .responses__user__text.m-l-10
                  p.fw-semi-bold.text-black Suraj Rao
                  span.fz-12 5543 0988 7733
            //- li
            //-   .responses__user.flex
            //-     .responses__user__img.bold.text-white(style="background: #b15df4") S
            //-     .responses__user__text.m-l-10
            //-       p.fw-semi-bold.text-black Suraj Rao
            //-       span.fz-12 5543 0988 7733
            //- li
            //-   .responses__user.flex
            //-     .responses__user__img.bold.text-white(style="background: #b15df4") S
            //-     .responses__user__text.m-l-10
            //-       p.fw-semi-bold.text-black Suraj Rao
            //-       span.fz-12 5543 0988 7733
                    
        .responses__chat.tabs__content.active
          .responses__header.flex
            p.bold.text-black Conversation with Vaishakh Pilatholi
            span.m-l-15.fz-12 Thursday, 20 August 2020
          .responses__chat__body
            strong.fz-14.fw-normal.text-black.m-b-15.m-t-15 Yesterday
            .responses__chat__block.responses__chat__block--left
              .responses__chat__user
                img(src="img/bot-img.png", alt="")
              .responses__chat__text
                p What is your full name?
                span 05:09 PM

            .responses__chat__block.responses__chat__block--right
              .responses__chat__user
                img(src="img/user-img.png", alt="")
              .responses__chat__text
                p Vaishakh Pilatholi
                span 05:10 PM
            strong.fz-14.fw-normal.text-black.m-b-15.m-t-15 Todays
            .responses__chat__block.responses__chat__block--left
              .responses__chat__user
                img(src="img/bot-img.png", alt="")
              .responses__chat__text
                p What is your residential address?
                span 05:09 PM

            .responses__chat__block.responses__chat__block--right
              .responses__chat__user
                img(src="img/user-img.png", alt="")
              .responses__chat__text
                p 1st A Cross, Chocolate Factory Rd, Tavarekere, Cashier Layout, 1st Stage, BTM Layout 1, Bengaluru, Karnataka 560029
                span 05:10 PM

            .responses__chat__block.responses__chat__block--left
              .responses__chat__user
                img(src="img/bot-img.png", alt="")
              .responses__chat__text
                p Thank you
                span 05:09 PM
            

            .responses__chat__block.responses__chat__block--right
              .responses__chat__user
                img(src="img/user-img.png", alt="")
              .responses__chat__text
                a(data-fancybox="gallery" href="https://via.placeholder.com/135x157.png").responses__chat__text__img
                  img(src="https://via.placeholder.com/135x157.png", alt="")
                span 05:10 PM


            .responses__chat__block.responses__chat__block--right
              .responses__chat__user
                img(src="img/user-img.png", alt="")
              .responses__chat__text
                .responses__chat__text__img
                  a(data-fancybox href="#myVideo")
                    +icon('video')
                  img(src="https://via.placeholder.com/135x157.png", alt="")
                  video(src="img/video.mp4" style="display:none" controls)#myVideo
                span 05:10 PM

        .responses__chat.tabs__content
          .responses__header.flex
            p.bold.text-black Conversation with Pilatholi
            span.m-l-15.fz-12 Thursday, 20 August 2020
          .responses__chat__body
            strong.fz-14.fw-normal.text-black.m-b-15.m-t-15 Yesterday
            .responses__chat__block.responses__chat__block--right
              .responses__chat__user
                img(src="img/user-img.png", alt="")
              .responses__chat__text
                p Vaishakh Pilatholi
                span 05:10 PM
            .responses__chat__block.responses__chat__block--left
              .responses__chat__user
                img(src="img/bot-img.png", alt="")
              .responses__chat__text
                p What is your full name?
                span 05:09 PM

            strong.fz-14.fw-normal.text-black.m-b-15.m-t-15 Todays
            .responses__chat__block.responses__chat__block--left
              .responses__chat__user
                img(src="img/bot-img.png", alt="")
              .responses__chat__text
                p What is your residential address?
                span 05:09 PM

            .responses__chat__block.responses__chat__block--right
              .responses__chat__user
                img(src="img/user-img.png", alt="")
              .responses__chat__text
                p 1st A Cross, Chocolate Factory Rd, Tavarekere, Cashier Layout, 1st Stage, BTM Layout 1, Bengaluru, Karnataka 560029
                span 05:10 PM

            .responses__chat__block.responses__chat__block--left
              .responses__chat__user
                img(src="img/bot-img.png", alt="")
              .responses__chat__text
                p Thank you
                span 05:09 PM
            

            .responses__chat__block.responses__chat__block--right
              .responses__chat__user
                img(src="img/user-img.png", alt="")
              .responses__chat__text
                a(data-fancybox="gallery-2" href="https://via.placeholder.com/135x157.png").responses__chat__text__img
                  img(src="https://via.placeholder.com/135x157.png", alt="")
                span 05:10 PM


            .responses__chat__block.responses__chat__block--right
              .responses__chat__user
                img(src="img/user-img.png", alt="")
              .responses__chat__text
                .responses__chat__text__img
                  a(data-fancybox href="#myVideo")
                    +icon('video')
                  img(src="https://via.placeholder.com/135x157.png", alt="")
                  video(src="img/video.mp4" style="display:none" controls)#myVideo
                span 05:10 PM