---
title: Settings
---
extends layouts/_layout
block content
  .admin
    include ./partials/_aside
    include ./partials/_header-admin
    .admin__content
      .container
        a(class="btn btn-primary" href="#" data-toggle="modal" data-target="#slide-right-vh").m-b-40 Demo
        a(class="btn btn-primary" href="#" data-toggle="modal" data-target="#slide-right-dialog").m-b-40 create-new-dialog
        h2.h2.p-b-15.fw-semi-bold General
        p.p-b-25 Manage the channels you use to communicate with customers via email and social media.
        .flex-wrap.m-b-50
          .block-setting.center-column-all.m-r-15.m-b-15.padding-20
            img(src="https://via.placeholder.com/30x30", alt="").m-b-15
            p.text-center.fz-12 Profile
          .block-setting.center-column-all.m-r-15.m-b-15.padding-20
            img(src="https://via.placeholder.com/30x30", alt="").m-b-15
            p.text-center.fz-12 Change Password
          .block-setting.center-column-all.m-r-15.m-b-15.padding-20
            img(src="https://via.placeholder.com/30x30", alt="").m-b-15
            p.text-center.fz-12 Edit Customer


        h2.h2.p-b-15.fw-semi-bold Setup
        p.p-b-40 Manage the channels you use to communicate with customers via email and social media.
        h4.h4.p-b-20 User Management
        .flex-wrap.m-b-50
          .block-setting.center-column-all.m-r-15.m-b-15.padding-20
            img(src="https://via.placeholder.com/30x30", alt="").m-b-15
            p.text-center.fz-12 Users
          .block-setting.center-column-all.m-r-15.m-b-15.padding-20
            img(src="https://via.placeholder.com/30x30", alt="").m-b-15
            p.text-center.fz-12 Roles

        h4.h4.p-b-20 Account Settings
        .flex-wrap.m-b-50
          .block-setting.center-column-all.m-r-15.m-b-15.padding-20
            img(src="https://via.placeholder.com/30x30", alt="").m-b-15
            p.text-center.fz-12 Mandatory Attribute
          .block-setting.center-column-all.m-r-15.m-b-15.padding-20
            img(src="https://via.placeholder.com/30x30", alt="").m-b-15
            p.text-center.fz-12 Change Label
          .block-setting.center-column-all.m-r-15.m-b-15.padding-20
            img(src="https://via.placeholder.com/30x30", alt="").m-b-15
            p.text-center.fz-12 Custom Configurations

        h4.h4.p-b-20 Communication
        .flex-wrap.m-b-50
          .block-setting.center-column-all.m-r-15.m-b-15.padding-20
            img(src="https://via.placeholder.com/30x30", alt="").m-b-15
            p.text-center.fz-12 SMS Gateway Setup
          .block-setting.center-column-all.m-r-15.m-b-15.padding-20
            img(src="https://via.placeholder.com/30x30", alt="").m-b-15
            p.text-center.fz-12 Email-Account Configuration
          .block-setting.center-column-all.m-r-15.m-b-15.padding-20
            img(src="https://via.placeholder.com/30x30", alt="").m-b-15
            p.text-center.fz-12 Transactional Communication Notification
        
        h4.h4.p-b-20 Payment
        .flex-wrap.m-b-50
          .block-setting.center-column-all.m-r-15.m-b-15.padding-20
            img(src="https://via.placeholder.com/30x30", alt="").m-b-15
            p.text-center.fz-12 Payment Gateway Setup
          
        h4.h4.p-b-20 Data
        .flex-wrap.m-b-50
          .block-setting.center-column-all.m-r-15.m-b-15.padding-20
            img(src="https://via.placeholder.com/30x30", alt="").m-b-15
            p.text-center.fz-12 Data Import
          .block-setting.center-column-all.m-r-15.m-b-15.padding-20
            img(src="https://via.placeholder.com/30x30", alt="").m-b-15
            p.text-center.fz-12 Audit Logs
        
        h2.h2.p-b-15.fw-semi-bold Master Data
        p.p-b-25 Manage the channels you use to communicate with customers via email and social media.
        .flex-wrap.m-b-50
          .block-setting.center-column-all.m-r-15.m-b-15.padding-20
            img(src="https://via.placeholder.com/30x30", alt="").m-b-15
            p.text-center.fz-12 Master Data Mapping
          .block-setting.center-column-all.m-r-15.m-b-15.padding-20
            img(src="https://via.placeholder.com/30x30", alt="").m-b-15
            p.text-center.fz-12 Service Offering
          .block-setting.center-column-all.m-r-15.m-b-15.padding-20
            img(src="https://via.placeholder.com/30x30", alt="").m-b-15
            p.text-center.fz-12 Recommendations



  