@font-face {
  font-family: 'Eina03';
  src: url('../fonts/Eina03-Bold.woff2') format('woff2'),
      url('../fonts/Eina03-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Eina03';
  src: url('../fonts/Eina03-Regular.woff2') format('woff2'),
      url('../fonts/Eina03-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Eina03';
  src: url('../fonts/Eina03-SemiBold.woff2') format('woff2'),
      url('../fonts/Eina03-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Eina03';
  src: url('../fonts/Eina03-SemiBold.woff2') format('woff2'),
      url('../fonts/Eina03-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Eina03';
  src: url('../fonts/Eina03-Bold.woff2') format('woff2'),
      url('../fonts/Eina03-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Eina03';
  src: url('../fonts/Eina03-Regular.woff2') format('woff2'),
      url('../fonts/Eina03-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Eina03';
  src: url('../fonts/Eina03-Bold.woff2') format('woff2'),
      url('../fonts/Eina03-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Eina03';
  src: url('../fonts/Eina03-SemiBold.woff2') format('woff2'),
      url('../fonts/Eina03-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Eina03';
  src: url('../fonts/Eina03-Regular.woff2') format('woff2'),
      url('../fonts/Eina03-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}




//icon fonts






@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?wayhvb');
  src:  url('../fonts/icomoon.eot?wayhvb#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?wayhvb') format('truetype'),
    url('../fonts/icomoon.woff?wayhvb') format('woff'),
    url('../fonts/icomoon.svg?wayhvb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-nn-white-thin-arrow-down:before {
  content: "\e9ac";
  color: #fff;
}
.icon-nn-white-thin-arrow-right:before {
  content: "\e9ad";
  color: #fff;
}
.icon-nn-dark-search:before {
  content: "\e9a9";
}
.icon-nn-dark-sort:before {
  content: "\e9aa";
}
.icon-nn-pink-nhance-icon_1:before {
  content: "\e9ab";
  color: #ff0053;
}
.icon-nn-add-filled:before {
  content: "\e900";
}
.icon-nn-add-outline:before {
  content: "\e901";
}
.icon-nn-calendar-clock .path1:before {
  content: "\e902";
  color: rgb(19, 28, 47);
}
.icon-nn-calendar-clock .path2:before {
  content: "\e903";
  margin-left: -1.005859375em;
  color: rgb(234, 19, 92);
}
.icon-nn-calendar-clock .path3:before {
  content: "\e904";
  margin-left: -1.005859375em;
  color: rgb(19, 28, 47);
}
.icon-nn-calendar-clock .path4:before {
  content: "\e905";
  margin-left: -1.005859375em;
  color: rgb(19, 28, 47);
}
.icon-nn-calendar-clock .path5:before {
  content: "\e906";
  margin-left: -1.005859375em;
  color: rgb(19, 28, 47);
}
.icon-nn-calendar-clock .path6:before {
  content: "\e907";
  margin-left: -1.005859375em;
  color: rgb(19, 28, 47);
}
.icon-nn-calendar-clock .path7:before {
  content: "\e908";
  margin-left: -1.005859375em;
  color: rgb(19, 28, 47);
}
.icon-nn-calendar-clock .path8:before {
  content: "\e909";
  margin-left: -1.005859375em;
  color: rgb(19, 28, 47);
}
.icon-nn-calendar-clock .path9:before {
  content: "\e90a";
  margin-left: -1.005859375em;
  color: rgb(19, 28, 47);
}
.icon-nn-calendar-clock .path10:before {
  content: "\e90b";
  margin-left: -1.005859375em;
  color: rgb(19, 28, 47);
}
.icon-nn-calendar-clock .path11:before {
  content: "\e90c";
  margin-left: -1.005859375em;
  color: rgb(19, 28, 47);
}
.icon-nn-calendar-clock .path12:before {
  content: "\e90d";
  margin-left: -1.005859375em;
  color: rgb(19, 28, 47);
}
.icon-nn-calendar-clock .path13:before {
  content: "\e90e";
  margin-left: -1.005859375em;
  color: rgb(19, 28, 47);
}
.icon-nn-calendar-clock .path14:before {
  content: "\e90f";
  margin-left: -1.005859375em;
  color: rgb(19, 28, 47);
}
.icon-nn-calendar-clock .path15:before {
  content: "\e910";
  margin-left: -1.005859375em;
  color: rgb(19, 28, 47);
}
.icon-nn-calendar-clock .path16:before {
  content: "\e911";
  margin-left: -1.005859375em;
  color: rgb(19, 28, 47);
}
.icon-nn-calendar-clock .path17:before {
  content: "\e912";
  margin-left: -1.005859375em;
  color: rgb(244, 0, 88);
}
.icon-nn-calendar-clock .path18:before {
  content: "\e913";
  margin-left: -1.005859375em;
  color: rgb(19, 28, 47);
}
.icon-nn-calendar-clock .path19:before {
  content: "\e914";
  margin-left: -1.005859375em;
  color: rgb(19, 28, 47);
}
.icon-nn-calendar-clock .path20:before {
  content: "\e915";
  margin-left: -1.005859375em;
  color: rgb(19, 28, 47);
}
.icon-nn-calendar-clock .path21:before {
  content: "\e916";
  margin-left: -1.005859375em;
  color: rgb(19, 28, 47);
}
.icon-nn-calendar-clock .path22:before {
  content: "\e917";
  margin-left: -1.005859375em;
  color: rgb(19, 28, 47);
}
.icon-nn-calendar-clock .path23:before {
  content: "\e918";
  margin-left: -1.005859375em;
  color: rgb(19, 28, 47);
}
.icon-nn-calendar-clock .path24:before {
  content: "\e919";
  margin-left: -1.005859375em;
  color: rgb(19, 28, 47);
}
.icon-nn-calendar{
  position: relative;
}
.icon-nn-calendar .path1:before {
  content: "\e91a";
  color: rgb(18, 27, 46);
}
.icon-nn-calendar .path2:before {
  content: "\e91b";
  position: absolute;
  top: 1px;
  left: 1px;
  color: rgb(255, 0, 87);
}
.icon-nn-calendar .path3:before {
  content: "\e91c";
  position: absolute;
  top: 1px;
  left: 1px;
  color: rgb(255, 0, 87);
}
.icon-nn-calendar .path4:before {
  content: "\e91d";
  position: absolute;
  top: 1px;
  left: 1px;
  color: rgb(18, 27, 46);
}
.icon-nn-calendar .path5:before {
  content: "\e91e";
  position: absolute;
  top: 1px;
  left: 1px;
  color: rgb(18, 27, 46);
}
.icon-nn-calendar .path6:before {
  content: "\e91f";
  position: absolute;
  top: 1px;
  left: 1px;
  color: rgb(18, 27, 46);
}
.icon-nn-calendar .path7:before {
  content: "\e920";
  position: absolute;
  top: 1px;
  left: 1px;
  color: rgb(18, 27, 46);
}
.icon-nn-calendar .path8:before {
  content: "\e921";
  position: absolute;
  top: 1px;
  left: 1px;
  color: rgb(18, 27, 46);
}
.icon-nn-calendar .path9:before {
  content: "\e922";
  position: absolute;
  top: 1px;
  left: 1px;
  color: rgb(18, 27, 46);
}
.icon-nn-calendar .path10:before {
  content: "\e923";
  position: absolute;
  top: 1px;
  left: 1px;
  color: rgb(18, 27, 46);
}
.icon-nn-calendar .path11:before {
  content: "\e924";
  position: absolute;
  top: 1px;
  left: 1px;
  color: rgb(18, 27, 46);
}
.icon-nn-calendar .path12:before {
  content: "\e925";
  position: absolute;
  top: 1px;
  left: 1px;
  color: rgb(18, 27, 46);
}
.icon-nn-calendar .path13:before {
  content: "\e926";
  position: absolute;
  top: 1px;
  left: 1px;
  color: rgb(18, 27, 46);
}
.icon-nn-calendar .path14:before {
  content: "\e927";
  position: absolute;
  top: 1px;
  left: 1px;
  color: rgb(18, 27, 46);
}
.icon-nn-calendar .path15:before {
  content: "\e928";
  position: absolute;
  top: 1px;
  left: 1px;
  color: rgb(18, 27, 46);
}
.icon-nn-calendar .path16:before {
  content: "\e929";
  position: absolute;
  top: 1px;
  left: 1px;
  color: rgb(18, 27, 46);
}
.icon-nn-dark-left-panel-api .path1:before {
  content: "\e92a";
  color: rgb(39, 47, 72);
}
.icon-nn-dark-left-panel-api .path2:before {
  content: "\e92b";
  margin-left: -1.1943359375em;
  color: rgb(255, 255, 255);
}
.icon-nn-dark-left-panel-api .path3:before {
  content: "\e92c";
  margin-left: -1.1943359375em;
  color: rgb(255, 255, 255);
}
.icon-nn-dark-left-panel-api .path4:before {
  content: "\e92d";
  margin-left: -1.1943359375em;
  color: rgb(255, 255, 255);
}
.icon-nn-dark-left-panel-app-store .path1:before {
  content: "\e92e";
  color: rgb(39, 47, 72);
}
.icon-nn-dark-left-panel-app-store .path2:before {
  content: "\e92f";
  margin-left: -1.1943359375em;
  color: rgb(255, 255, 255);
}
.icon-nn-dark-left-panel-app-store .path3:before {
  content: "\e930";
  margin-left: -1.1943359375em;
  color: rgb(255, 255, 255);
}
.icon-nn-dark-left-panel-app-store .path4:before {
  content: "\e931";
  margin-left: -1.1943359375em;
  color: rgb(255, 255, 255);
}
.icon-nn-dark-left-panel-app-store .path5:before {
  content: "\e932";
  margin-left: -1.1943359375em;
  color: rgb(255, 255, 255);
}
.icon-nn-dark-left-panel-campaign .path1:before {
  content: "\e933";
  color: rgb(39, 47, 72);
}
.icon-nn-dark-left-panel-campaign .path2:before {
  content: "\e934";
  margin-left: -1.1943359375em;
  color: rgb(255, 255, 255);
}
.icon-nn-dark-left-panel-channel .path1:before {
  content: "\e935";
  color: rgb(39, 47, 72);
}
.icon-nn-dark-left-panel-channel .path2:before {
  content: "\e936";
  margin-left: -1.1943359375em;
  color: rgb(255, 255, 255);
}
.icon-nn-dark-left-panel-channel .path3:before {
  content: "\e937";
  margin-left: -1.1943359375em;
  color: rgb(255, 255, 255);
}
.icon-nn-dark-left-panel-channel .path4:before {
  content: "\e938";
  margin-left: -1.1943359375em;
  color: rgb(255, 255, 255);
}
.icon-nn-dark-left-panel-channel .path5:before {
  content: "\e939";
  margin-left: -1.1943359375em;
  color: rgb(255, 255, 255);
}
.icon-nn-dark-left-panel-channel .path6:before {
  content: "\e93a";
  margin-left: -1.1943359375em;
  color: rgb(255, 255, 255);
}
.icon-nn-dark-left-panel-channel .path7:before {
  content: "\e93b";
  margin-left: -1.1943359375em;
  color: rgb(255, 255, 255);
}
.icon-nn-dark-left-panel-dx-card .path1:before {
  content: "\e93c";
  color: rgb(39, 47, 72);
}
.icon-nn-dark-left-panel-dx-card .path2:before {
  content: "\e93d";
  margin-left: -1.1943359375em;
  color: rgb(255, 255, 255);
}
.icon-nn-dark-left-panel-help .path1:before {
  content: "\e93e";
  color: rgb(39, 47, 72);
}
.icon-nn-dark-left-panel-help .path2:before {
  content: "\e93f";
  margin-left: -1.1943359375em;
  color: rgb(255, 255, 255);
}
.icon-nn-dark-left-panel-help .path3:before {
  content: "\e940";
  margin-left: -1.1943359375em;
  color: rgb(255, 255, 255);
}
.icon-nn-dark-left-panel-nhance-icon .path1:before {
  content: "\e941";
  color: rgb(39, 47, 72);
}
.icon-nn-dark-left-panel-nhance-icon .path2:before {
  content: "\e942";
  margin-left: -1.1943359375em;
  color: rgb(255, 255, 255);
}
.icon-nn-dark-left-panel-nhance-icon .path3:before {
  content: "\e943";
  margin-left: -1.1943359375em;
  color: rgb(255, 255, 255);
}
.icon-nn-dark-left-panel-nhance-icon .path4:before {
  content: "\e944";
  margin-left: -1.1943359375em;
  color: rgb(255, 255, 255);
}
.icon-nn-dark-left-panel-partner .path1:before {
  content: "\e945";
  color: rgb(39, 47, 72);
}
.icon-nn-dark-left-panel-partner .path2:before {
  content: "\e946";
  margin-left: -1.1943359375em;
  color: rgb(255, 255, 255);
}
.icon-nn-dark-left-panel-partner .path3:before {
  content: "\e947";
  margin-left: -1.1943359375em;
  color: rgb(255, 255, 255);
}
.icon-nn-dark-left-panel-partner .path4:before {
  content: "\e948";
  margin-left: -1.1943359375em;
  color: rgb(255, 255, 255);
}
.icon-nn-dark-left-panel-product-approval .path1:before {
  content: "\e949";
  color: rgb(39, 47, 72);
}
.icon-nn-dark-left-panel-product-approval .path2:before {
  content: "\e94a";
  margin-left: -1.1943359375em;
  color: rgb(255, 255, 255);
}
.icon-nn-dark-left-panel-product .path1:before {
  content: "\e94b";
  color: rgb(39, 47, 72);
}
.icon-nn-dark-left-panel-product .path2:before {
  content: "\e94c";
  margin-left: -1.1943359375em;
  color: rgb(255, 255, 255);
}
.icon-nn-dark-left-panel-product .path3:before {
  content: "\e94d";
  margin-left: -1.1943359375em;
  color: rgb(255, 255, 255);
}
.icon-nn-dark-left-panel-product .path4:before {
  content: "\e94e";
  margin-left: -1.1943359375em;
  color: rgb(255, 255, 255);
}
.icon-nn-dark-left-panel-product .path5:before {
  content: "\e94f";
  margin-left: -1.1943359375em;
  color: rgb(255, 255, 255);
}
.icon-nn-dark-left-panel-purchase .path1:before {
  content: "\e950";
  color: rgb(39, 47, 72);
}
.icon-nn-dark-left-panel-purchase .path2:before {
  content: "\e951";
  margin-left: -1.1943359375em;
  color: rgb(255, 255, 255);
}
.icon-nn-dark-left-panel-purchase .path3:before {
  content: "\e952";
  margin-left: -1.1943359375em;
  color: rgb(255, 255, 255);
}
.icon-nn-dark-left-panel-purchase .path4:before {
  content: "\e953";
  margin-left: -1.1943359375em;
  color: rgb(255, 255, 255);
}
.icon-nn-dark-left-panel-recommendation .path1:before {
  content: "\e954";
  color: rgb(39, 47, 72);
}
.icon-nn-dark-left-panel-recommendation .path2:before {
  content: "\e955";
  margin-left: -1.1943359375em;
  color: rgb(255, 255, 255);
  opacity: 0.5;
}
.icon-nn-dark-left-panel-recommendation .path3:before {
  content: "\e956";
  margin-left: -1.1943359375em;
  color: rgb(255, 255, 255);
  opacity: 0.5;
}
.icon-nn-dark-left-panel-recommendation .path4:before {
  content: "\e957";
  margin-left: -1.1943359375em;
  color: rgb(255, 255, 255);
  opacity: 0.5;
}
.icon-nn-dark-left-panel-recommendation .path5:before {
  content: "\e958";
  margin-left: -1.1943359375em;
  color: rgb(255, 255, 255);
  opacity: 0.5;
}
.icon-nn-dark-left-panel-recommendation .path6:before {
  content: "\e959";
  margin-left: -1.1943359375em;
  color: rgb(255, 255, 255);
  opacity: 0.5;
}
.icon-nn-dark-left-panel-recommendation .path7:before {
  content: "\e95a";
  margin-left: -1.1943359375em;
  color: rgb(255, 255, 255);
}
.icon-nn-dark-left-panel-service-request .path1:before {
  content: "\e95b";
  color: rgb(39, 47, 72);
}
.icon-nn-dark-left-panel-service-request .path2:before {
  content: "\e95c";
  margin-left: -1.1943359375em;
  color: rgb(255, 255, 255);
}
.icon-nn-dark-left-panel-service-request .path3:before {
  content: "\e95d";
  margin-left: -1.1943359375em;
  color: rgb(255, 255, 255);
}
.icon-nn-dark-left-panel-service-request .path4:before {
  content: "\e95e";
  margin-left: -1.1943359375em;
  color: rgb(255, 255, 255);
}
.icon-nn-dark-left-panel-service-request .path5:before {
  content: "\e95f";
  margin-left: -1.1943359375em;
  color: rgb(255, 255, 255);
}
.icon-nn-dark-left-panel-tally .path1:before {
  content: "\e960";
  color: rgb(39, 47, 72);
}
.icon-nn-dark-left-panel-tally .path2:before {
  content: "\e961";
  margin-left: -1.1943359375em;
  color: rgb(255, 255, 255);
}
.icon-nn-dark-left-panel-tally .path3:before {
  content: "\e962";
  margin-left: -1.1943359375em;
  color: rgb(255, 255, 255);
}
.icon-nn-dark-left-panel-unique .path1:before {
  content: "\e963";
  color: rgb(39, 47, 72);
}
.icon-nn-dark-left-panel-unique .path2:before {
  content: "\e964";
  margin-left: -1.1943359375em;
  color: rgb(255, 255, 255);
}
.icon-nn-dark-left-panel-unique .path3:before {
  content: "\e965";
  margin-left: -1.1943359375em;
  color: rgb(255, 255, 255);
}
.icon-nn-dark-left-panel-unique .path4:before {
  content: "\e966";
  margin-left: -1.1943359375em;
  color: rgb(255, 255, 255);
}
.icon-nn-dark-left-panel-unique .path5:before {
  content: "\e967";
  margin-left: -1.1943359375em;
  color: rgb(255, 255, 255);
}
.icon-nn-dark-left-panel-unique .path6:before {
  content: "\e968";
  margin-left: -1.1943359375em;
  color: rgb(255, 255, 255);
}
.icon-nn-dark-left-panel-unique .path7:before {
  content: "\e969";
  margin-left: -1.1943359375em;
  color: rgb(255, 255, 255);
}
.icon-nn-dark-left-panel-unique .path8:before {
  content: "\e96a";
  margin-left: -1.1943359375em;
  color: rgb(255, 255, 255);
}
.icon-nn-dark-left-panel-unique .path9:before {
  content: "\e96b";
  margin-left: -1.1943359375em;
  color: rgb(255, 255, 255);
}
.icon-nn-dark-left-panel-unique .path10:before {
  content: "\e96c";
  margin-left: -1.1943359375em;
  color: rgb(255, 255, 255);
}
.icon-nn-dark-left-panel-unique .path11:before {
  content: "\e96d";
  margin-left: -1.1943359375em;
  color: rgb(255, 255, 255);
}
.icon-nn-dark-left-panel-unique .path12:before {
  content: "\e96e";
  margin-left: -1.1943359375em;
  color: rgb(255, 255, 255);
}
.icon-nn-dark-left-panel-unique .path13:before {
  content: "\e96f";
  margin-left: -1.1943359375em;
  color: rgb(255, 255, 255);
}
.icon-nn-dark-left-panel-unique .path14:before {
  content: "\e970";
  margin-left: -1.1943359375em;
  color: rgb(255, 255, 255);
}
.icon-nn-dark-left-panel-unique .path15:before {
  content: "\e971";
  margin-left: -1.1943359375em;
  color: rgb(255, 255, 255);
}
.icon-nn-document:before {
  content: "\e972";
  color: #9e9e9e;
}
.icon-nn-filled-arrow-down:before {
  content: "\e973";
  color: #cbcbcb;
}
.icon-nn-filled-arrow-right:before {
  content: "\e974";
  color: #cbcbcb;
}
.icon-nn-filled-dark-delete:before {
  content: "\e975";
}
.icon-nn-filled-dark-help:before {
  content: "\e976";
}
.icon-nn-filled-edit:before {
  content: "\e977";
}
.icon-nn-filled-green-tick:before {
  content: "\e978";
  color: #00f7b3;
}
.icon-nn-filled-grey-close:before {
  content: "\e979";
  color: #cbcbcb;
}
.icon-nn-filled-pink-check-in:before {
  content: "\e97a";
  color: #ff0053;
}
.icon-nn-filled-pink-delete:before {
  content: "\e97b";
  color: #ff0053;
}
.icon-nn-filled-pink-edit:before {
  content: "\e97c";
  color: #ff0053;
}
.icon-nn-filled-profile-user:before {
  content: "\e97d";
  color: #ff0053;
}
.icon-nn-filled-red-warning .path1:before {
  content: "\e97e";
  color: rgb(255, 60, 48);
}
.icon-nn-filled-red-warning .path2:before {
  content: "\e97f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-nn-filled-red-warning .path3:before {
  content: "\e980";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-nn-green-tick:before {
  content: "\e981";
  color: #00f7b3;
}
.icon-nn-hide-password:before {
  content: "\e982";
  color: #bcbcbc;
}
.icon-nn-more-menu .path1:before {
  content: "\e983";
  color: rgb(255, 0, 83);
}
.icon-nn-more-menu .path2:before {
  content: "\e984";
  margin-left: -1em;
  color: rgb(255, 0, 83);
}
.icon-nn-more-menu .path3:before {
  content: "\e985";
  margin-left: -1em;
  color: rgb(255, 0, 83);
}
.icon-nn-more-menu .path4:before {
  content: "\e986";
  margin-left: -1em;
  color: rgb(18, 27, 46);
}
.icon-nn-pink-folder:before {
  content: "\e987";
  color: #ff0057;
}
.icon-nn-pink-left-panel-billing .path1:before {
  content: "\e988";
  color: rgb(255, 0, 87);
}
.icon-nn-pink-left-panel-billing .path2:before {
  content: "\e989";
  margin-left: -1.1943359375em;
  color: rgb(255, 255, 255);
}
.icon-nn-pink-left-panel-configure .path1:before {
  content: "\e98a";
  color: rgb(255, 0, 87);
}
.icon-nn-pink-left-panel-configure .path2:before {
  content: "\e98b";
  margin-left: -1.1943359375em;
  color: rgb(255, 255, 255);
}
.icon-nn-pink-left-panel-dashboard .path1:before {
  content: "\e98c";
  color: rgb(255, 0, 87);
}
.icon-nn-pink-left-panel-dashboard .path2:before {
  content: "\e98d";
  margin-left: -1.1943359375em;
  color: rgb(255, 255, 255);
}
.icon-nn-pink-left-panel-integrations .path1:before {
  content: "\e98e";
  color: rgb(255, 0, 87);
}
.icon-nn-pink-left-panel-integrations .path2:before {
  content: "\e98f";
  margin-left: -1.1943359375em;
  color: rgb(255, 255, 255);
}
.icon-nn-pink-left-panel-integrations .path3:before {
  content: "\e990";
  margin-left: -1.1943359375em;
  color: rgb(255, 255, 255);
}
.icon-nn-pink-left-panel-integrations .path4:before {
  content: "\e991";
  margin-left: -1.1943359375em;
  color: rgb(255, 255, 255);
}
.icon-nn-pink-left-panel-manage .path1:before {
  content: "\e992";
  color: rgb(255, 0, 87);
}
.icon-nn-pink-left-panel-manage .path2:before {
  content: "\e993";
  margin-left: -1.1943359375em;
  color: rgb(255, 255, 255);
}
.icon-nn-pink-left-panel-manage .path3:before {
  content: "\e994";
  margin-left: -1.1943359375em;
  color: rgb(255, 255, 255);
}
.icon-nn-pink-left-panel-report .path1:before {
  content: "\e995";
  color: rgb(255, 0, 87);
}
.icon-nn-pink-left-panel-report .path2:before {
  content: "\e996";
  margin-left: -1.1943359375em;
  color: rgb(255, 255, 255);
}
.icon-nn-pink-left-panel-report .path3:before {
  content: "\e997";
  margin-left: -1.1943359375em;
  color: rgb(255, 255, 255);
}
.icon-nn-pink-left-panel-settings .path1:before {
  content: "\e998";
  color: rgb(255, 0, 87);
}
.icon-nn-pink-left-panel-settings .path2:before {
  content: "\e999";
  margin-left: -1.1943359375em;
  color: rgb(255, 255, 255);
}
.icon-nn-pink-left-panel-settings .path3:before {
  content: "\e99a";
  margin-left: -1.1943359375em;
  color: rgb(255, 255, 255);
}
.icon-nn-pink-left-panel-settings .path4:before {
  content: "\e99b";
  margin-left: -1.1943359375em;
  color: rgb(255, 255, 255);
}
.icon-nn-pink-nhance-icon:before {
  content: "\e99c";
  color: #ff0053;
}
.icon-nn-remove-filled:before {
  content: "\e99d";
}
.icon-nn-remove-outline:before {
  content: "\e99e";
}
.icon-nn-show-password .path1:before {
  content: "\e99f";
  color: rgb(19, 28, 47);
}
.icon-nn-show-password .path2:before {
  content: "\e9a0";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-nn-thin-arrow-left:before {
  content: "\e9a1";
}
.icon-nn-thin-arrow-right:before {
  content: "\e9a2";
}
.icon-nn-thin-close:before {
  content: "\e9a3";
}
.icon-nn-thin-upload:before {
  content: "\e9a4";
}
.icon-nn-thin-with-notification .path1:before {
  content: "\e9a5";
  color: rgb(19, 28, 47);
}
.icon-nn-thin-with-notification .path2:before {
  content: "\e9a6";
  margin-left: -0.91015625em;
  color: rgb(255, 0, 87);
}
.icon-nn-thin-without-notification:before {
  content: "\e9a7";
}
.icon-nn-unccheck-in:before {
  content: "\e9a8";
  color: #888;
}
