aside.aside-admin.bg-dark
  .aside-admin__logo
    +icon('n-icon')
    span Design <br>Guidelines
  b Tables
    +icon('arrow-down')
    img(src="https://via.placeholder.com/23x17.png", alt="")
  ul(style="display:none")
    li
      a(href="#") Basic Tables
    li
      a(href="#") Data Tables 
  b Forms
    +icon('arrow-down')
    img(src="https://via.placeholder.com/23x17.png", alt="")
  ul(style="display:none")
    li
      a(href="#") Form Elements
    li
      a(href="#") Form Layouts
    li
      a(href="#") Form Wizard
  b.active UI Elements
    +icon('arrow-down')
    img(src="https://via.placeholder.com/23x17.png", alt="")
  ul
    li
      a(href="#") Color
    li.active
      a(href="#") Typography
    li
      a(href="#") Icons
    li
      a(href="#") Button
    li
      a(href="#") Notifications
    li
      a(href="#") Modals
    li
      a(href="#") Progress & Activity
    li
      a(href="#") Tabs & Accordions
    li
      a(href="#") Tree View
  b Extra
    +icon('arrow-down')
    img(src="https://via.placeholder.com/23x17.png", alt="")
  ul(style="display:none")
    li
      a(href="#") 404 Page
    li
      a(href="#") Blank Page
    li
      a(href="#") Login
    li
      a(href="#") Register