aside.aside-admin.bg-dark
  .aside-admin__logo
    i.icon-nn-pink-nhance-icon_1
    span Design <br>Guidelines
  b Dashboard
    //- +icon('arrow-down')
    //- i.icon-nn-thin-arrow-right
    i.icon-nn-pink-left-panel-dashboard
      span.path1
      span.path2
  b Manage
    //- +icon('arrow-down')
    i.icon-nn-thin-arrow-right
    i.icon-nn-pink-left-panel-manage
      span.path1
      span.path2
      span.path3
  ul(style="display:none")
    li
      a(href="#") DX Card 
        i.icon-nn-dark-left-panel-dx-card
          span.path1
          span.path2
    li
      a(href="#") Campaign
        i.icon-nn-dark-left-panel-campaign
          span.path1
          span.path2
    li
      a(href="#") Service Request
        i.icon-nn-dark-left-panel-service-request
          span.path1
          span.path2
          span.path3
          span.path4
          span.path5
    li
      a(href="#") Purchase
        i.icon-nn-dark-left-panel-purchase
          span.path1
          span.path2
          span.path3
          span.path4
    li
      a(href="#") Product Approval
        i.icon-nn-dark-left-panel-product-approval
          span.path1
          span.path2
    li
      a(href="#") Tally DEC Re-Issuance
        i.icon-nn-dark-left-panel-tally
          span.path1
          span.path2
          span.path3
  b.active Configure
    //- +icon('arrow-down')
    i.icon-nn-thin-arrow-right
    i.icon-nn-pink-left-panel-configure
      span.path1
      span.path2
  ul
    li
      a(href="#") Product
        i.icon-nn-dark-left-panel-product-approval
          span.path1
          span.path2
    li
      a(href="#") Uniquecode
        i.icon-nn-dark-left-panel-unique
          span.path1
          span.path2
          span.path3
          span.path4
          span.path5
          span.path6
          span.path7
          span.path8
          span.path9
          span.path10
          span.path11
          span.path12
          span.path13
          span.path14
          span.path15
    li
      a(href="#") Partner & Service Offering
        i.icon-nn-dark-left-panel-partner
          span.path1
          span.path2
          span.path3
          span.path4
    li
      a(href="#") Product Recommendation
        i.icon-nn-dark-left-panel-recommendation
          span.path1
          span.path2
          span.path3
          span.path4
          span.path5
          span.path6
          span.path7
    li
      a(href="#") Help 
        i.icon-nn-dark-left-panel-help
          span.path1
          span.path2
          span.path3
  b Settings
    i.icon-nn-pink-left-panel-settings
      span.path1
      span.path2
      span.path3
      span.path4
  b Reports
    i.icon-nn-pink-left-panel-report
      span.path1
      span.path2
      span.path3
  b Billing
    i.icon-nn-pink-left-panel-billing
      span.path1
      span.path2
  b Integrations
    //- +icon('arrow-down')
    i.icon-nn-thin-arrow-right
    i.icon-nn-pink-left-panel-integrations
      span.path1
      span.path2
      span.path3
      span.path4
  ul(style="display:none")
    li
      a(href="#") Api
        i.icon-nn-dark-left-panel-api
          span.path1
          span.path2
          span.path3
          span.path4
    li
      a(href="#") App Store
        i.icon-nn-dark-left-panel-app-store
          span.path1
          span.path2
          span.path3
          span.path4
          span.path5
    li
      a(href="#") Channels
        i.icon-nn-dark-left-panel-channel
          span.path1
          span.path2
          span.path3
          span.path4
          span.path5
          span.path6
          span.path7