.admin-header
  .menu-open
    span
  .container
    .admin-header__content
      .admin-header__notifications.drop-down--open
        span
          //- +icon('bell')
          i.icon.icon-notification
        ul
          li
            a(href="#") Lorem ipsum dolor sit amet consectetur adipisicing elit.
          li
            a(href="#") Lorem ipsum dolor sit amet consectetur adipisicing elit.
      a(href="#").admin-header__question
        //- +icon('question')
        i.icon.icon-web-help
      .admin-header__user.drop-down--open
        span Vaishakh
          //- +icon('arrow-down')
          i.icon.icon-arrow-right
        ul
          li
            a(href="#") 
              //- +icon('settings')
              i.icon.icon-configure
                .path2
              | Settings
          li
            a(href="#") Logout
              +icon('logout')