.admin-header
  .menu-open
    span
  .container
    .admin-header__content
      .admin-header__notifications.drop-down--open
        span
          //- +icon('bell')
          i.icon-nn-thin-without-notification
        ul
          li
            a(href="#") Lorem ipsum dolor sit amet consectetur adipisicing elit.
          li
            a(href="#") Lorem ipsum dolor sit amet consectetur adipisicing elit.
      a(href="#").admin-header__question
        //- +icon('question')
        i.icon-nn-filled-dark-help
      .admin-header__user.drop-down--open
        span Vaishakh
          //- +icon('arrow-down')
          i.icon-nn-thin-arrow-right
        ul
          li
            a(href="#") 
              //- +icon('settings')
              i.icon-nn-pink-left-panel-configure
                .path2
              | Settings
          li
            a(href="#") Logout
              //- +icon('logout')