//BEGIN pop-up
.modal#slide-up.fade.slide-up
  .modal-dialog 
    .modal-content-wrapper
      .modal-content
        .modal-header
          h5#exampleModalLiveLabel.modal-title Modal title
          a(href="#" data-dismiss='modal', aria-label='Close').close
            span(aria-hidden='true') ×
        .modal-body
          p Woohoo, you're reading this text in a modal!
        .modal-footer
          a(href="#" data-dismiss='modal').btn.btn-primary Close
          a(href="#").btn.btn-complete Save changes



.modal#stick-up.fade.stick-up
  .modal-dialog 
    .modal-content-wrapper
      .modal-content
        .modal-header
          h5#exampleModalLiveLabel.modal-title Modal title
          a(href="#" data-dismiss='modal', aria-label='Close').close
            span(aria-hidden='true') ×
        .modal-body
          p Woohoo, you're reading this text in a modal!
        .modal-footer
          a(href="#" data-dismiss='modal').btn.btn-primary Close
          a(href="#").btn.btn-complete Save changes



.modal#slide-right.fade.slide-right
  .modal-dialog 
    .modal-content-wrapper
      .modal-content
        .modal-header
          h5#exampleModalLiveLabel.modal-title Modal title
          a(href="#" data-dismiss='modal', aria-label='Close').close
            span(aria-hidden='true') ×
        .modal-body
          p Woohoo, you're reading this text in a modal!
        .modal-footer
          a(href="#" data-dismiss='modal').btn.btn-primary Close
          a(href="#").btn.btn-complete Save changes




.modal#slide-right-vh.fade.slide-right.slide-right-vh
  .modal-dialog 
    .modal-content-wrapper
      .modal-content
        .modal-header
          h2.h2#exampleModalLiveLabel.modal-title.m-b-50
            +icon('return')
            | Advance Settings
          a(href="#" data-dismiss='modal', aria-label='Close').close
            span(aria-hidden='true') ×
        form.modal-body.form-pop-up
          .form__row
            div.flex.m-r-20.m-b-35
              select.select-search
                option(value="") Entity/Field Name
                option(value="1") Entity/Field Name
                option(value="2") Entity/Field Name
                option(value="3") Entity/Field Name
              a(href="#")
                +icon('information')
            div.flex.m-b-35
              select.select-search
                option(value="") Entity/Field Value
                option(value="1") Entity/Field Value
                option(value="2") Entity/Field Value
                option(value="3") Entity/Field Value
              a(href="#")
                +icon('information')
          .form__checkbox.m-b-40
            p Is Required?
              a(href="#")
                +icon('information')
            input(type="checkbox" id="checkbox-1" checked)
            label(for="checkbox-1")  
          .form__block.m-b-30.flex
            input(type="text" name="last-name" id="last-name")
            label(for="last-name") Last Name
            a(href="#")
              +icon('information')
          .form__block.m-b-30.flex
            input(type="text" name="last-name" id="last-name")
            label(for="last-name") Last Name
            a(href="#")
              +icon('information')







#slide-right-dialog.modal.fade.slide-right.slide-right-vh.slide-right-dialog
  .modal-dialog 
    .modal-content-wrapper
      .modal-content
        .modal-header
          h2.h2#exampleModalLiveLabel.modal-title.m-b-5 Create New Dialog
          a(href="#" data-dismiss='modal', aria-label='Close').close
            span(aria-hidden='true') ×
        form.modal-body
          .form-pop-up
            .form__block.m-b-35
              input(type="text" name="name" id="name" require)
              label(for="name").require Name
            .form__block.m-b-35
              input(type="text" name="description" id="description" require)
              label(for="description").require Description
            .form__block.m-b-50
              input(type="text" name="category" id="category" require)
              label(for="category").require Product Category
            strong.fz-14.bold.all-caps.text-black.flex bot Message and response type configuration
            .form__row.m-b-45
              div.width-100
                b.fz-14.bold.all-caps.m-b-35.m-t-40.flex Bot
                .form__block
                  input(type="text" name="free" id="free" require)
                  label(for="free").require Free Text (Start Typing)
              
              div.width-100.m-l-30
                b.fz-14.bold.all-caps.m-b-35.flex.m-t-40 User Response
                .form__block.form__block--select.flex
                  label.require Free Text
                  select.select
                    option(value="1") Free Text
                    option(value="2") Free Text1
                    option(value="3") Free Text2
              .form__block__btn.m-l-30
                a(href="#")
                  +icon('gear')
                a(href="#")
                  i.icon-nn-filled-pink-delete.h4.m-b-0

          .form__question.padding-35
            .space-between
              strong.fz-14.bold.text-black.flex.m-b-20 Type a question
              .form__block__btn
                a(href="#")
                  +icon('gear')
                a(href="#").m-r-5
                  i.icon-nn-filled-pink-delete.h4.m-b-0
            .form__checkbox.m-b-10.flex
              input(type="checkbox" id="option-1")
              label(for="option-1").m-b-0 Type option 1
              .form__checkbox__btn.m-l-20
                a(href="#").m-r-10
                  +icon('burger')
                a(href="#")
                  +icon('close')
            .form__checkbox.m-b-10.flex
              input(type="checkbox" id="option-2")
              label(for="option-2").m-b-0 Type option 2
            .form__checkbox.m-b-10.disabled.flex
              input(type="checkbox" id="checkbox-3" disabled)
              label(for="checkbox-3").m-b-0 Type an option
            .flex-wrap.m-t-25
              a(href="#").fz-14 Add Option
              a(href="#").fz-14.m-l-15 Add ‘Other’ Option
          .form-tabs
            a(href="#").more
              +icon('more')
            ul.nav.nav-tabs
              li.active
                a(data-toggle='tab', href='#item-1').active branch 1
              li
                a(data-toggle='tab', href='#item-2') branch 2
              li
                a(data-toggle='tab', href='#item-3') branch 3
              li
                a(data-toggle='tab', href='#item-4') branch 4
              li
                a(data-toggle='tab', href='#item-5') branch 5
            .tab-content
              #item-1.tab-pane.fade.show.in.active
                .form__row
                  .form__block.m-b-45
                    input(type="text" name="free2" id="free2" require)
                    label(for="free2").require Free Text (Start Typing)
                  .form__block.form__block--select.m-b-45.flex.m-l-35
                    label.require Free Text
                    select.select
                      option(value="1") Free Text
                      option(value="2") Free Text1
                      option(value="3") Free Text2
                  .form__block__btn.m-l-30.m-b-45
                    a(href="#")
                      +icon('gear')
                    a(href="#")
                      i.icon-nn-filled-pink-delete.h4.m-b-0
                .form__row
                  .form__block.m-b-45
                    input(type="text" name="free3" id="free3" require)
                    label(for="free3").require Free Text (Start Typing)
                  .form__block.form__block--select.m-b-45.flex.m-l-35
                    label.require Free Text
                    select.select
                      option(value="1") Free Text
                      option(value="2") Free Text1
                      option(value="3") Free Text2
                  .form__block__btn.m-l-30.m-b-45
                    a(href="#")
                      +icon('gear')
                    a(href="#")
                      i.icon-nn-filled-pink-delete.h4.m-b-0
                .form__block
                  select.select-secondary
                    option(value="1") add step
                    option(value="2") add step1
                    option(value="3") add step2
              #item-2.tab-pane.fade.show
                .form__row
                  .form__block.m-b-45
                    input(type="text" name="free2" id="free2" require)
                    label(for="free2").require Free Text (Start Typing)
                  .form__block.form__block--select.m-b-45.flex.m-l-35
                    label.require Free Text
                    select.select
                      option(value="1") Free Text
                      option(value="2") Free Text1
                      option(value="3") Free Text2
                  .form__block__btn.m-l-30.m-b-45
                    a(href="#")
                      +icon('gear')
                    a(href="#")
                      i.icon-nn-filled-pink-delete.h4.m-b-0
                .form__row
                  .form__block.m-b-45
                    input(type="text" name="free3" id="free3" require)
                    label(for="free3").require Free Text (Start Typing)
                  .form__block.form__block--select.m-b-45.flex.m-l-35
                    label.require Free Text
                    select.select
                      option(value="1") Free Text
                      option(value="2") Free Text1
                      option(value="3") Free Text2
                  .form__block__btn.m-l-30.m-b-45
                    a(href="#")
                      +icon('gear')
                    a(href="#")
                      i.icon-nn-filled-pink-delete.h4.m-b-0
                .form__block
                  select.select-secondary
                    option(value="1") add step
                    option(value="2") add step1
                    option(value="3") add step2
              #item-3.tab-pane.fade.show
                .form__row
                  .form__block.m-b-45
                    input(type="text" name="free2" id="free2" require)
                    label(for="free2").require Free Text (Start Typing)
                  .form__block.form__block--select.m-b-45.flex.m-l-35
                    label.require Free Text
                    select.select
                      option(value="1") Free Text
                      option(value="2") Free Text1
                      option(value="3") Free Text2
                  .form__block__btn.m-l-30.m-b-45
                    a(href="#")
                      +icon('gear')
                    a(href="#")
                      i.icon-nn-filled-pink-delete.h4.m-b-0
                .form__row
                  .form__block.m-b-45
                    input(type="text" name="free3" id="free3" require)
                    label(for="free3").require Free Text (Start Typing)
                  .form__block.form__block--select.m-b-45.flex.m-l-35
                    label.require Free Text
                    select.select
                      option(value="1") Free Text
                      option(value="2") Free Text1
                      option(value="3") Free Text2
                  .form__block__btn.m-l-30.m-b-45
                    a(href="#")
                      +icon('gear')
                    a(href="#")
                      i.icon-nn-filled-pink-delete.h4.m-b-0
                .form__block
                  select.select-secondary
                    option(value="1") add step
                    option(value="2") add step1
                    option(value="3") add step2
              #item-4.tab-pane.fade.show
                .form__row
                  .form__block.m-b-45
                    input(type="text" name="free2" id="free2" require)
                    label(for="free2").require Free Text (Start Typing)
                  .form__block.form__block--select.m-b-45.flex.m-l-35
                    label.require Free Text
                    select.select
                      option(value="1") Free Text
                      option(value="2") Free Text1
                      option(value="3") Free Text2
                  .form__block__btn.m-l-30.m-b-45
                    a(href="#")
                      +icon('gear')
                    a(href="#")
                      i.icon-nn-filled-pink-delete.h4.m-b-0
                .form__row
                  .form__block.m-b-45
                    input(type="text" name="free3" id="free3" require)
                    label(for="free3").require Free Text (Start Typing)
                  .form__block.form__block--select.m-b-45.flex.m-l-35
                    label.require Free Text
                    select.select
                      option(value="1") Free Text
                      option(value="2") Free Text1
                      option(value="3") Free Text2
                  .form__block__btn.m-l-30.m-b-45
                    a(href="#")
                      +icon('gear')
                    a(href="#")
                      i.icon-nn-filled-pink-delete.h4.m-b-0
                .form__block
                  select.select-secondary
                    option(value="1") add step
                    option(value="2") add step1
                    option(value="3") add step2
              #item-5.tab-pane.fade.show
                .form__row
                  .form__block.m-b-45
                    input(type="text" name="free2" id="free2" require)
                    label(for="free2").require Free Text (Start Typing)
                  .form__block.form__block--select.m-b-45.flex.m-l-35
                    label.require Free Text
                    select.select
                      option(value="1") Free Text
                      option(value="2") Free Text1
                      option(value="3") Free Text2
                  .form__block__btn.m-l-30.m-b-45
                    a(href="#")
                      +icon('gear')
                    a(href="#")
                      i.icon-nn-filled-pink-delete.h4.m-b-0
                .form__row
                  .form__block.m-b-45
                    input(type="text" name="free3" id="free3" require)
                    label(for="free3").require Free Text (Start Typing)
                  .form__block.form__block--select.m-b-45.flex.m-l-35
                    label.require Free Text
                    select.select
                      option(value="1") Free Text
                      option(value="2") Free Text1
                      option(value="3") Free Text2
                  .form__block__btn.m-l-30.m-b-45
                    a(href="#")
                      +icon('gear')
                    a(href="#")
                      i.icon-nn-filled-pink-delete.h4.m-b-0
                .form__block
                  select.select-secondary
                    option(value="1") add step
                    option(value="2") add step1
                    option(value="3") add step2
          
          .form-pop-up.p-t-35.p-b-50
            .flex-wrap.m-b-40
              select.select-secondary.m-r-10
                option(value="1") add step
                option(value="2") add step1
                option(value="3") add step2
              select.select-secondary
                option(value="1") add branch
                option(value="2") add branch1
                option(value="3") add branch2
            strong.fz-14.bold.all-caps.text-black.m-b-30.flex trigger point
            p.m-b-25 Do you want to make this the initial component
            .flex.m-b-45
              .form__radio.m-r-25
                input(type="radio" name="radio" id="radio-1" checked)
                label(for="radio-1") Yes
              .form__radio
                input(type="radio" name="radio" id="radio-2")
                label(for="radio-2") No
            p.m-b-35 Choose Trigger Point
            .row
              .col-lg-6
                .form__block.form__block--select.m-b-45.flex
                  label.require Service Request
                  select.select
                    option(value="1") Service Request
                    option(value="2") Service Request1
                    option(value="3") Service Request2
  .modal-footer
    a(href="#").btn.btn-secondary.m-r-15 Cancel
    a(href="#" data-dismiss='modal').btn.btn-primary Create











#slide-right-dx.modal.fade.slide-right.slide-right-vh.slide-right-dx.slide-right-dialog
  form
    .modal-dialog 
      .modal-content-wrapper
        .modal-content
          .modal-header
            h2.h2#exampleModalLiveLabel.modal-title.m-b-5 Issue DX Card
            a(href="#" data-dismiss='modal', aria-label='Close').close
              span(aria-hidden='true') ×
          .modal-body.form-pop-up
            ul.nav.nav-step
              li.active
                a(data-toggle='tab', href='#step-1').active 01
              li
                a(data-toggle='tab', href='#step-2') 02
                  span
              li
                a(data-toggle='tab', href='#step-3') 03
                  span
              li
                a(data-toggle='tab', href='#step-4') 04
                  span
            .nav-step__decor.step-03
              span
              span
              span
            .tab-content.block-white
              #step-1.tab-pane.fade.show.in.active
                h5.h5.fw-semi-bold.m-b-50 Product Details
                .row.form__row
                  .col-sm-6
                    div.flex.m-r-20.m-b-35
                      select.select-search.select-search-req
                        option(value="0") Issue DX Card
                        option(value="1") Issue DX Card 1
                        option(value="2") Issue DX Card 2
                        option(value="3") Issue DX Card 3
                      a(href="#" data-toggle="tooltip", data-placement='top', title='Up here!')
                        +icon('information')
                  .col-sm-6
                    div.flex.m-b-35
                      select.select-search.select-search-req
                        option(value="0") Product Category
                        option(value="1") Product Category 1
                        option(value="2") Product Category 2
                        option(value="3") Product Category 3
                      a(href="#" data-toggle="tooltip", data-placement='top', title='Up here!')
                        +icon('information')
                  .col-sm-6
                    div.flex.m-r-20.m-b-35
                      select.select-search.select-search-req
                        option(value="0") Product Subcategory
                        option(value="1") Product Subcategory 1
                        option(value="2") Product Subcategory 2
                        option(value="3") Product Subcategory 3
                      a(href="#" data-toggle="tooltip", data-placement='top', title='Up here!')
                        +icon('information')
                  .col-sm-6
                    div.flex.m-b-35
                      select.select-search.select-search-req
                        option(value="0") Product Manufacturer
                        option(value="1") Product Manufacturer 1
                        option(value="2") Product Manufacturer 2
                        option(value="3") Product Manufacturer 3
                      a(href="#" data-toggle="tooltip", data-placement='top', title='Up here!')
                        +icon('information')
                  .col-sm-6
                    .form__block.m-b-35.flex.autocomplete
                      input(type="text" id="myInput" require)
                      label(for="myInput").require Warranty Period (In Months)
                      a(href="#" data-toggle="tooltip", data-placement='top', title='Up here!')
                        +icon('information')
                  .col-sm-6
                    .form__block.m-b-35.flex
                      input(type="text" id="last-name")
                      label(for="last-name") Serial Number
                      a(href="#" data-toggle="tooltip", data-placement='top', title='Up here!')
                        +icon('information')
                  .col-sm-6
                    div.flex.m-r-20.m-b-35
                      select.select-search
                        option(value="0") Purchased Date
                        option(value="1") Purchased Date 1
                        option(value="2") Purchased Date 2
                        option(value="3") Purchased Date 3
                      a(href="#" data-toggle="tooltip", data-placement='top', title='Up here!')
                        +icon('information')
                  .col-sm-6
                    .form__block.m-b-35.flex
                      input(type="text" id="last-name")
                      label(for="last-name") Product Value (NIR)
                      a(href="#" data-toggle="tooltip", data-placement='top', title='Up here!')
                        +icon('information')
              #step-2.tab-pane.fade
                h5.h5.fw-semi-bold.m-b-50 Product Details
                .row.form__row
                  .col-md-6
                    .form__block.m-b-35.flex
                      .select-tn
                        select(value="1")
                          option(value="1") +91
                          option(value="2") +92
                          option(value="3") +93
                          option(value="4") +94
                        .select-tn__result
                          img(src="img/india_flag.png", alt="")
                          p +91
                        ul.select-tn__dorpdown
                          li.active
                            img(src="img/india_flag.png", alt="")
                            p +91
                          li
                            img(src="img/usa.png", alt="")
                            p +93
                          li
                            img(src="img/uae_flag.png", alt="")
                            p +94
                          li
                            img(src="img/Singapore_flag.png", alt="")
                            p +92
                      .form__block
                        input(type="text" id="phone")
                        label(for="phone") Mobile Number
                      a(href="#" data-toggle="tooltip", data-placement='top', title='Up here!')
                        +icon('information')
                  .col-md-6
                    .form__block.m-b-35.flex
                      input(type="text" id="name")
                      label(for="name") Consumer Name
                      a(href="#" data-toggle="tooltip", data-placement='top', title='Up here!')
                        +icon('information')
              #step-3.tab-pane.fade
                h5.h5.fw-semi-bold.m-b-20 Documents
                .block-white.m-b-15.invoice-block
                  h5.fz-14.bold.all-caps.text-black.m-b-25.title-invoice Invoice 1
                  .form__block.m-b-35.flex
                    input(type="text" id="name-4")
                    label(for="name-4") Name
                    a(href="#" data-toggle="tooltip", data-placement='top', title='Up here!')
                      +icon('information')
                  .flex-wrap.m-b-25.radio-block
                    strong.text-black.m-b-10.m-r-20 File Details
                    .form__radio.m-r-20
                      input(type="radio" name="radio-01" id="radio-01" checked)
                      label(for="radio-01" data-radio="file").text-black.fz-14 Upload File
                    .form__radio.m-r-20
                      input(type="radio" name="radio-01" id="radio-02")
                      label(for="radio-02" data-radio="url").text-black.fz-14 URL
                    .form__radio
                      input(type="radio" name="radio-01" id="radio-03")
                      label(for="radio-03" data-radio="invoice").text-black.fz-14 Generate Invoice
                  .input-block
                    .form__block.m-b-35.flex.file
                      div
                        input(type="file" id="file" placeholder="Upload File")
                      label(for="file") Upload File
                      a(href="#" data-toggle="tooltip", data-placement='top', title='Up here!')
                        +icon('information')
                      +icon('clip')
                    .form__block.m-b-35.flex.url(style="display:none")
                      input(type="url" id="url")
                      label(for="url") URL
                      a(href="#" data-toggle="tooltip", data-placement='top', title='Up here!')
                        +icon('information')
                  a(href="#").btn.btn-danger.btn-sm delete
                .block-white.m-b-15.invoice-block
                  h5.fz-14.bold.all-caps.text-black.m-b-25.title-invoice Invoice 2
                  .form__block.m-b-35.flex
                    input(type="text" id="name-4")
                    label(for="name-4") Name
                    a(href="#" data-toggle="tooltip", data-placement='top', title='Up here!')
                      +icon('information')
                  .flex-wrap.m-b-25.radio-block
                    strong.text-black.m-b-10.m-r-20 File Details	
                    .form__radio.m-r-20
                      input(type="radio" name="radio-02" id="radio-04")
                      label(for="radio-04" data-radio="file").text-black.fz-14 Upload File
                    .form__radio.m-r-20
                      input(type="radio" name="radio-02" id="radio-05" checked)
                      label(for="radio-05" data-radio="url").text-black.fz-14 URL
                    .form__radio
                      input(type="radio" name="radio-02" id="radio-06")
                      label(for="radio-06" data-radio="invoice").text-black.fz-14 Generate Invoice
                  .input-block
                    .form__block.m-b-35.flex.file(style="display:none")
                      div
                        input(type="file" id="file" placeholder="Upload File")
                      label(for="file") Upload File
                      a(href="#" data-toggle="tooltip", data-placement='top', title='Up here!')
                        +icon('information')
                      +icon('clip')
                    .form__block.m-b-35.flex.url
                      input(type="url" id="url")
                      label(for="url") URL
                      a(href="#" data-toggle="tooltip", data-placement='top', title='Up here!')
                        +icon('information')
                  a(href="#").btn.btn-danger.btn-sm delete
                .block-white.m-b-15.other-block
                  h5.fz-14.bold.all-caps.text-black.m-b-25 Other 1
                  .form__block.m-b-35.flex
                    input(type="text" id="name-4")
                    label(for="name-4") Name
                    a(href="#" data-toggle="tooltip", data-placement='top', title='Up here!')
                      +icon('information')
                  .flex-wrap.m-b-25.radio-block
                    strong.text-black.m-b-10.m-r-20 File Details
                    .form__radio.m-r-20
                      input(type="radio" name="radio-03" id="radio-07" checked)
                      label(for="radio-07" data-radio="file").text-black.fz-14 Upload File
                    .form__radio.m-r-20
                      input(type="radio" name="radio-03" id="radio-08")
                      label(for="radio-08" data-radio="url").text-black.fz-14 URL
                  .input-block
                    .form__block.m-b-35.flex.file
                      div
                        input(type="file" id="file" placeholder="Upload File")
                      label(for="file") Upload File
                      a(href="#" data-toggle="tooltip", data-placement='top', title='Up here!')
                        +icon('information')
                      +icon('clip')
                    .form__block.m-b-35.flex.url(style="display:none")
                      input(type="url" id="url")
                      label(for="url") URL
                      a(href="#" data-toggle="tooltip", data-placement='top', title='Up here!')
                        +icon('information')
                  a(href="#").btn.btn-danger.btn-sm.invoice-hide delete
                  ul.add-btn
                    li
                      span
                    li
                      b add new
                    li
                      a(href="#").invoice invoice
                    li
                      a(href="#").other other          
              #step-4.tab-pane.fade
                h5.h5.fw-semi-bold.m-b-50 Custom Fields
                .row.form__row
                  .col-md-6
                    .form__block.m-b-35.flex
                      .select-tn
                        select(value="1")
                          option(value="1") +91
                          option(value="2") +92
                          option(value="3") +93
                          option(value="4") +94
                        .select-tn__result
                          img(src="img/india_flag.png", alt="")
                          p +91
                        ul.select-tn__dorpdown
                          li.active
                            img(src="img/india_flag.png", alt="")
                            p +91
                          li
                            img(src="img/usa.png", alt="")
                            p +93
                          li
                            img(src="img/uae_flag.png", alt="")
                            p +94
                          li
                            img(src="img/Singapore_flag.png", alt="")
                            p +92
                      .form__block
                        input(type="text" name="phone-2" id="phone-2" require)
                        label(for="phone-2").require Mobile Number
                      a(href="#" data-toggle="tooltip", data-placement='top', title='Up here!')
                        +icon('information')
                  .col-md-6
                    div.flex.m-r-20.m-b-35
                      select.select-search.select-search-req
                        option(value="0") Consumer Name
                        option(value="1") Consumer Name 1
                        option(value="2") Consumer Name 2
                        option(value="3") Consumer Name 3
                      a(href="#" data-toggle="tooltip", data-placement='top', title='Up here!')
                        +icon('information')
              
            
    .modal-footer
      a(href="#" data-dismiss='modal').btn.btn-secondary.m-r-15 Cancel
      a(href="#" style="display:none").btn.btn-secondary.m-r-15.skip Skip
      button(type="submit").btn.btn-primary.continue Continue


//END pop-up