//BEGIN pop-up
.modal#slide-up.fade.stick-up
  .modal-dialog
    .modal-content
      .modal-header
        h5#exampleModalLiveLabel.modal-title Modal title
        a(href="#" data-dismiss='modal', aria-label='Close').close
          span(aria-hidden='true') ×
      .modal-body
        p Woohoo, you're reading this text in a modal!
      .modal-footer
        a(href="#" data-dismiss='modal').btn.btn-primary Close
        a(href="#").btn.btn-complete Save changes
.modal#stick-up.fade.stick-up
  .modal-dialog
    .modal-content
      .modal-header
        h5#exampleModalLiveLabel.modal-title Modal title
        a(href="#" data-dismiss='modal', aria-label='Close').close
          span(aria-hidden='true') ×
      .modal-body
        p Woohoo, you're reading this text in a modal!
      .modal-footer
        a(href="#" data-dismiss='modal').btn.btn-primary Close
        a(href="#").btn.btn-complete Save changes
//END pop-up