.modal-demo
  height: 190px
  display: flex
  justify-content: center
  align-items: flex-start
  img
    width: 170px
  &-center
    +center
  &-fixed
    img
      position: absolute
      right: 16px
      bottom: 1px
      width: 95px