.modal-demo
  height: 190px
  display: flex
  justify-content: center
  align-items: flex-start
  img
    width: 170px
  &-center
    +center
  &-right
    img
      position: absolute
      right: 16px
      bottom: 1px
      width: 95px


.modal.fade
  padding-right: 0 !important
  &.slide-up
    .modal-dialog
      transform: translate3d(0, 75%, 0)
      .modal-content-wrapper
        display: table-cell
        vertical-align: middle
  .modal-dialog
    display: table
    height: 100%
    margin: 0 auto
    max-width: 500px
    width: 100%
  &.show .modal-dialog
    transform: translate(0, 0)
  &.slide-right
    .modal-dialog
      transform: translate(0, 0)
      left: 100%
      margin: 0
      max-width: 300px
      .modal-content-wrapper
        display: table-cell
        vertical-align: bottom
      .modal-content
        min-height: 60vh
    &.show .modal-dialog
      transform: translate(-100%, 0)
    &-vh
      h2
        svg
          font-size: 23px
          fill: rgba(#1f2532, 0.5)
          margin-right: 20px
          margin-top: -4px
      .modal-header
        padding: 65px 20px 45px 50px 
        border-bottom: none
      .close
        position: absolute
        left: -21px
        top: 0
        width: 21px
        height: 21px
        padding: 0
        margin: 0
        +center
        opacity: 1
        text-shadow: none
        font-weight: 400
        font-size: 18px
        color: #fff
        background-color: $pink-red
        +r(767)
          left: 0
      .modal-dialog
        max-width: 670px
        .modal-content
          height: 100%
          border: none
          border-radius: 0
      .modal-body
        padding: 0 20px 0 80px
        +r(520)
          padding: 0 20px
      .form-pop-up
        .form__block
          a
            margin-left: 15px
            svg
              font-size: 17px
              fill: rgba(#616161, 0.3)
              position: relative
              bottom: -4px
        .form__row .flex
          width: 100%
          svg
            font-size: 17px
            fill: rgba(#616161, 0.3)
            margin-bottom: -3px
          a
            margin-left: 15px
        .form__checkbox
          label
            &::before
              margin-top: 12px
          p
            svg
              font-size: 17px
              fill: rgba(#616161, 0.3)
              margin-top: -2px
              margin-left: 15px
    &-dialog
      +r(550)
        .m-l-30, .m-l-35
          margin-left: 0
          margin-bottom: 10px
      .form__row
        align-items: flex-end
        +r(550)
          align-items: flex-start
      .modal-body
        padding: 0
      .form__question
        border: solid 1px #1983f0
        margin: 0 10px
        margin-bottom: 80px
        +r(550)
          padding: 25px 10px !important
        label
          font-weight: 400
        .flex-wrap
          a
            text-decoration: underline !important
            color: #212121
        .form__checkbox__btn
          display: flex
          a
            svg
              font-size: 15px
              fill: #ababab
            &:first-child 
              svg
                font-size: 19px


      .form-pop-up
        padding: 0 50px
        +r(767)
          padding: 0 15px
      .modal-footer
        background: #fafafa
        position: fixed
        bottom: 0
        width: 100%
        .btn-secondary
          color: rgba(24, 28, 41, 0.5)
          border-color: rgba(24, 28, 41, 0.5)
          padding: 12px 30px
          &:hover
            color: #fff
      .tab-content
        padding: 50px
        +r(550)
          padding: 40px 15px
      .form-tabs
        background: #f7f7f8
        border-top: 1px solid #d6d6d6
        border-bottom: 1px solid #d6d6d6
        position: relative
        li a
          padding: 18px 30px
        .more
          position: absolute
          right: 20px
          top: 15px
          svg
            fill: $brown-grey
            font-size: 24px
#slide-right-dialog, #slide-right-dx
  .modal-footer
    max-width: 670px
    right: -100%
    transition: all .3s ease-out
  &.show
    .modal-footer
      right: 0





.slide-right-dx
  .modal-body
    padding: 0 !important
  &.modal.fade.slide-right-dialog .tab-content
    height: 72vh !important
    overflow: auto
    +rh(560)
      height: 57vh !important
  .modal-body
    background: rgb(243, 244, 244)
  .tab-content.block-white
    // background: rgb(243, 244, 244)
    // height: 80% !important
    // padding-bottom: 50px
    border-top: 1px solid #cecece
    padding-bottom: 70px !important
  .nav-step
    background: #fff
  .nav-step li a:after
    border-top-color: #fff
  .nav-step__decor.step-03 span
    width: 23%
  .select-search-req .selectize-input div
    position: relative
    &:before
      content: ''
      background: #fd3e39
      width: 5px
      height: 5px
      border-radius: 50%
      display: block
      position: absolute
      right: -12px
      top: 5px
      font-size: 6px
  .selectize-input, .form__block input
    border-bottom: 1px solid #cecece
  &.modal.fade.slide-right-vh .modal-header
    padding: 40px 50px 10px 55px




  .tab-pane
    .block-white
      border-radius: 5px
      border: solid 1px #cecece
      background-color: $white
      padding: 30px 25px
      position: relative
    .file
      div
        width: 100%
        border-bottom: 1px solid #cecece
    input[type="file"]
      cursor: pointer
      opacity: 0
      padding: 6px 0
    .icon-clip 
      font-size: 18px
      fill: #181c29
      position: absolute
      right: 40px
    .btn-danger
      border: 1px solid #fd3e39
      background: none
      color: #fd3e39
      text-transform: uppercase
      &:hover
        background: rgba(#fd3e39, 0.1) !important
    .add-btn
      border-radius: 12px
      border: solid 1px #131c2e
      background-color: $white
      padding: 2px 15px 3px
      padding-right: 30px
      display: inline-block
      height: 26px
      overflow: hidden
      position: absolute
      top: calc(100% - 40px)
      +tr
      z-index: 3
      span
        position: absolute
        right: 4px
        top: 2px
        cursor: pointer
        padding: 6px
        +center
        &::before
          content: ''
          border: 5px solid transparent
          border-top: 5px solid #616161
          +tr
          position: relative
          top: 2px
      &.active
        height: 70px
        span:before
          transform: rotate(180deg)
          top: -4px
      a, b
        font-size: 10px
        font-weight: bold
        color: #131c2e
        padding: 5px 0
        text-transform: uppercase
  #step-3
    width: calc(100% + 60px)
    margin-left: -30px
    +r(552)
      width: 100%
      margin-left: 0