
  
  
.selectize-input, .selectize-control
  width: 100%
  min-height: 35px  
.selectize-control
  height: 34px
.selectize-input
  border: none
  border-bottom: 1px solid $brownish-grey
  box-shadow: none !important
  padding: 5px 0 !important
  padding-right: 30px !important
  border-radius: 0 !important
  width: 100%
  &::after
    right: 0 !important
.selectize-dropdown-content
  max-height: 150px
.single
  .selectize-dropdown, .selectize-input, .selectize-input input
    font-family: 'Eina03'
    font-size: 14px
    font-weight: normal
    line-height: 1.43
    color: $brownish-grey
  input
    color: transparent !important
    text-shadow: 0 0 0 black !important

.select-search.single input
  color: $brownish-grey !important
  text-shadow: none !important

.selectize-control.multi .selectize-input>div
  height: 22px
  border-radius: 11px
  border: solid 1px $brownish-grey
  background: none
  padding-left: 10px
  padding-right: 10px
  font-size: 12px
  color: $dark
  a
    font-size: 17px
    color: #717171
    margin-left: 8px
