
//tabs  
.nav-tabs
  +r(767)
    flex-direction: column
  li
    +center
    position: relative
    a
      display: block
      font-size: 12px
      font-weight: bold
      color: $brownish-grey
      text-transform: uppercase
      padding: 18px 25px
      &:before
        position: absolute
        left: 0
        bottom: 0
        width: 100%
        content: ''
        height: 0px
        background-color: $pink-red
        +tr
      &.active
        &:before
          height: 3px



//callaps
.card
  button
    padding: 25px 30px
    padding-right: 50px
    width: 100%
    outline: none !important
    background: none
    text-align: left
    position: relative
    font-size: 14px
    font-weight: 600
    color: $brownish-grey
    &.collapsed:before
      content: '+'
    &:before
      content: '-'
      position: absolute
      right: 25px
      top: 25px
      width: 15px
      height: 15px
      border-radius: 50%
      background: $brownish-grey
      +center
      color: $white
  .collapse-content
    padding: 0px 30px 25px


//tabs steps
.tab-content.block-white
  height: auto !important
.nav-step
  padding: 0 55px
  display: flex
  justify-content: space-between
  +r(550)
    padding: 0 20px
  &__decor
    position: relative
    width: 100%
    display: flex
    justify-content: space-between
    padding: 0 90px
    +r(550)
      padding: 0 45px
    span
      height: 1px
      background-color: #cecece
      position: relative
      top: -37px
      display: block
    &.step-03
      span
        width: 42%
        +r(550)
          width: 37%
    &.step-04
      span
        width: 28%
        +r(767)
          width: 22%
    &.step-05
      span
        width: 20%
        +r(991)
          width: 16%
        +r(550)
          width: 12%
  li
    position: relative
    a
      padding: 25px 0
      display: block
      font-size: 14px
      font-weight: bold
      color: #cecece
      &:before, &:after
        border: medium solid transparent
        content: ""
        height: 0
        left: 50%
        pointer-events: none
        position: absolute
        width: 0
        z-index: 120
        top: calc(100% + 1px)
        opacity: 0
        +tr
      &:after
        border-top-color: rgb(245, 245, 245)
        border-width: 10px
        margin-left: -10px
      &:before
        border-top-color: rgba(0, 0, 0, 0.2)
        border-width: 11px
        margin-left: -11px
      &.active
        color: $pink-red
        &:before, &:after
          opacity: 1