html
body
  font-family: 'Eina03', sans-serif
  box-sizing: border-box
  position: relative
  font-size: 14px
  color: $brownish-grey
.container
  box-sizing: border-box
  +rmin(1200)
    max-width: 1100px !important
a
  text-decoration: none !important
  transition: all 0.3s
input[type="submit"]
  appearance: none
  -webkit-appearance: none
textarea
  resize: none

.out
  overflow: hidden
h1, h2, h3, h4, h5, p, strong, b
  margin: 0


+r(767)
	.hidden-xs
		display: none !important
@media only screen and (min-width: 575px) and (max-width: 767px)
	.hidden-sm
		display: none !important
@media only screen and (min-width: 767px) and (max-width: 991px)
	.hidden-md
		display: none !important
@media only screen and (min-width: 991px) and (max-width: 1200px)
	.hidden-lg
		display: none !important
+rmin(1200)
	.hidden-xl
		display: none !important







.pages
  padding: 150px 0 50px
  h1
    font-size: 40px
    color: $black
    margin-bottom: 30px
    display: block
    text-align: center
  li
    +center
    a
      font-size: 18px
      color: $black
      line-height: 2
      &:hover
        text-decoration: underline