.icon-arrow-down {
  width: 1.19em;
  height: 1em;
  fill: initial;
}
.icon-bell {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-burger {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-check {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-close {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-gear {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-information {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-logout {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-more {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-n-icon {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-plus {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-question {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-return {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-settings {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-upload {
  width: 1em;
  height: 1em;
  fill: initial;
}
